/* line 4, ../app/assets/stylesheets/general/_normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, menu, section {
  display: block;
}

/* line 8, ../app/assets/stylesheets/general/_normalize.scss */
audio, canvas, video {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *display: inline;
  *zoom: 1;
}
/* line 7, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
audio, canvas, video {
  *display: inline;
}

/* line 14, ../app/assets/stylesheets/general/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 18, ../app/assets/stylesheets/general/_normalize.scss */
[hidden] {
  display: none;
  visibility: hidden;
}

/* line 32, ../app/assets/stylesheets/general/_normalize.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, embed, a:hover, a:active, a:focus,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

/* line 38, ../app/assets/stylesheets/general/_normalize.scss */
button, input, select, textarea, label {
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 43, ../app/assets/stylesheets/general/_normalize.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 48, ../app/assets/stylesheets/general/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  height: auto;
}

/* line 55, ../app/assets/stylesheets/general/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}

/* line 60, ../app/assets/stylesheets/general/_normalize.scss */
table button,
table input {
  *overflow: auto;
}

/* line 67, ../app/assets/stylesheets/general/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}

/* line 71, ../app/assets/stylesheets/general/_normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 75, ../app/assets/stylesheets/general/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 2, ../app/assets/stylesheets/general/_base.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 11, ../app/assets/stylesheets/general/_base.scss */
body, button, input, select, textarea {
  color: black;
  font-family: "Arial", "Helvetica", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-size: 13px;
}

/* line 18, ../app/assets/stylesheets/general/_base.scss */
body {
  background: white;
}

/* line 22, ../app/assets/stylesheets/general/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #777777;
}

/* line 29, ../app/assets/stylesheets/general/_base.scss */
::-moz-selection {
  background: #268bd2;
  color: white;
  text-shadow: none;
}

/* line 35, ../app/assets/stylesheets/general/_base.scss */
::selection {
  background: #268bd2;
  color: white;
  text-shadow: none;
}

/* line 43, ../app/assets/stylesheets/general/_base.scss */
a {
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #268bd2;
  text-decoration: none;
}

/* line 49, ../app/assets/stylesheets/general/_base.scss */
a:visited {
  color: #268bd2;
  text-decoration: none;
}

/* line 54, ../app/assets/stylesheets/general/_base.scss */
a:focus {
  outline: thin dotted;
}

/* line 58, ../app/assets/stylesheets/general/_base.scss */
a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

/* line 63, ../app/assets/stylesheets/general/_base.scss */
a:hover {
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #777777;
}

/* line 68, ../app/assets/stylesheets/general/_base.scss */
a:active {
  color: #777777;
}

/* line 72, ../app/assets/stylesheets/general/_base.scss */
a:link {
  -webkit-tap-highlight-color: #268bd2;
}

/* line 4, ../app/assets/stylesheets/general/_typography.scss */
abbr[title], acronym[title], dfn[title] {
  border-bottom: 1px dotted;
  font-style: italic;
}

/* line 9, ../app/assets/stylesheets/general/_typography.scss */
b, strong {
  font-style: bold;
}

/* line 13, ../app/assets/stylesheets/general/_typography.scss */
i, em {
  font-style: italic;
}

/* line 17, ../app/assets/stylesheets/general/_typography.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 12px;
}

/* line 23, ../app/assets/stylesheets/general/_typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 29, ../app/assets/stylesheets/general/_typography.scss */
blockquote, address {
  margin: 1em 40px;
}

/* line 33, ../app/assets/stylesheets/general/_typography.scss */
q {
  quotes: none;
}

/* line 38, ../app/assets/stylesheets/general/_typography.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 43, ../app/assets/stylesheets/general/_typography.scss */
mark {
  background: #ffc40d;
}

/* line 47, ../app/assets/stylesheets/general/_typography.scss */
big {
  font-size: 115%;
}

/* line 51, ../app/assets/stylesheets/general/_typography.scss */
small, cite, figure figcaption {
  font-size: 85%;
}

/* line 55, ../app/assets/stylesheets/general/_typography.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 62, ../app/assets/stylesheets/general/_typography.scss */
sup {
  top: -0.5em;
}

/* line 66, ../app/assets/stylesheets/general/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 70, ../app/assets/stylesheets/general/_typography.scss */
details {
  margin: 10px 0;
}
/* line 75, ../app/assets/stylesheets/general/_typography.scss */
details p {
  margin: 0 10px 20px;
}

/* line 82, ../app/assets/stylesheets/general/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: black;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
}

/* line 87, ../app/assets/stylesheets/general/_typography.scss */
p {
  font-style: normal;
}

/* line 92, ../app/assets/stylesheets/general/_typography.scss */
ul {
  list-style: disc inside;
}

/* line 96, ../app/assets/stylesheets/general/_typography.scss */
ol {
  list-style: decimal-leading-zero inside;
}

/* line 100, ../app/assets/stylesheets/general/_typography.scss */
ul li, ol li {
  margin-left: 0.75em;
}

/* line 105, ../app/assets/stylesheets/general/_typography.scss */
ul ul li, ul ol li,
ol ul li, ol ol li {
  margin-left: 1.75em;
}

/* line 110, ../app/assets/stylesheets/general/_typography.scss */
nav ul, nav ol {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 113, ../app/assets/stylesheets/general/_typography.scss */
nav ul ul li, nav ul ol li, nav ul li, nav ol ul li, nav ol ol li, nav ol li {
  margin-left: 0;
}

/* line 120, ../app/assets/stylesheets/general/_typography.scss */
dl dt {
  margin: 1em 0 0;
  font-weight: bold;
}
/* line 125, ../app/assets/stylesheets/general/_typography.scss */
dl dd {
  font-style: normal;
}

/* line 131, ../app/assets/stylesheets/general/_typography.scss */
span.flag {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #666666;
  color: white;
  font-size: 85%;
  font-weight: bold;
  padding: 1px 4px;
  text-transform: uppercase;
}
/* line 139, ../app/assets/stylesheets/general/_typography.scss */
span.flag.notice {
  background-color: black;
}
/* line 140, ../app/assets/stylesheets/general/_typography.scss */
span.flag.success {
  background-color: #46a546;
}
/* line 141, ../app/assets/stylesheets/general/_typography.scss */
span.flag.important {
  background-color: #268bd2;
}
/* line 142, ../app/assets/stylesheets/general/_typography.scss */
span.flag.warning {
  background-color: #ffc40d;
}
/* line 143, ../app/assets/stylesheets/general/_typography.scss */
span.flag.alert {
  background-color: #f26522;
}
/* line 144, ../app/assets/stylesheets/general/_typography.scss */
span.flag.error {
  background-color: #b22222;
}

/* line 6, ../app/assets/stylesheets/general/_forms.scss */
form, form fieldset,
form ol, form ul,
form li,
form p {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  margin: 0;
  padding: 0;
}

/* line 12, ../app/assets/stylesheets/general/_forms.scss */
form {
  overflow: hidden;
  *zoom: 1;
}

/* line 17, ../app/assets/stylesheets/general/_forms.scss */
form fieldset,
form fieldset.bordered {
  border: none;
  display: block;
  padding: 10px 2px;
}

/* line 23, ../app/assets/stylesheets/general/_forms.scss */
form fieldset.bordered {
  border: 1px dotted #777777;
  padding: 10px;
}

/* line 28, ../app/assets/stylesheets/general/_forms.scss */
form ol li {
  display: block;
  margin-bottom: 10px;
}
/* line 31, ../app/assets/stylesheets/general/_forms.scss */
form ol li:last-child {
  margin-bottom: 0;
}

/* line 37, ../app/assets/stylesheets/general/_forms.scss */
form abbr[title] {
  border: none;
}

/* line 41, ../app/assets/stylesheets/general/_forms.scss */
form hr {
  border-top: 1px dotted #777777;
}

/* line 45, ../app/assets/stylesheets/general/_forms.scss */
label {
  font-size: 11px;
}

/* line 49, ../app/assets/stylesheets/general/_forms.scss */
legend {
  border: 0;
  *margin-left: -7px;
}

/* line 54, ../app/assets/stylesheets/general/_forms.scss */
form fieldset legend {
  display: none;
}

/* line 61, ../app/assets/stylesheets/general/_forms.scss */
form label,
form .inline-hints,
form .inline-errors,
form .hint {
  color: #777777;
  display: block;
  margin-left: 3px;
}
/* line 65, ../app/assets/stylesheets/general/_forms.scss */
form label.error,
form .inline-hints.error,
form .inline-errors.error,
form .hint.error {
  color: #b22222;
}
/* line 68, ../app/assets/stylesheets/general/_forms.scss */
form label.disabled,
form .inline-hints.disabled,
form .inline-errors.disabled,
form .hint.disabled {
  color: #999999;
}

/* line 74, ../app/assets/stylesheets/general/_forms.scss */
form .inline-hints,
form .hint {
  color: #777777;
  font-size: 10px;
}

/* line 79, ../app/assets/stylesheets/general/_forms.scss */
form .inline-errors {
  color: #b22222;
  font-size: 11px;
}

/* line 84, ../app/assets/stylesheets/general/_forms.scss */
.search label {
  display: none;
}

/* line 89, ../app/assets/stylesheets/general/_forms.scss */
.radiogroup label,
.checkgroup label {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  color: #444444;
  font-size: 13px;
  margin: 0 10px 0 0;
}
/* line 7, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.radiogroup label,
.checkgroup label {
  *display: inline;
}

/* line 96, ../app/assets/stylesheets/general/_forms.scss */
:-moz-placeholder {
  color: #bbbbbb;
}

/* line 99, ../app/assets/stylesheets/general/_forms.scss */
::-webkit-input-placeholder {
  color: #bbbbbb;
}

/* line 118, ../app/assets/stylesheets/general/_forms.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="color"],
input[type="search"],
select, textarea {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 0px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 0px rgba(255, 255, 255, 0.4);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 0px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 0px rgba(255, 255, 255, 0.4);
  background: white;
  border: 1px solid #aaaaaa;
  color: #444444;
  padding: 6px 4px;
  width: auto;
}
/* line 7, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="color"],
input[type="search"],
select, textarea {
  *display: inline;
}
/* line 127, ../app/assets/stylesheets/general/_forms.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="number"]:focus,
input[type="color"]:focus,
input[type="search"]:focus,
select:focus, textarea:focus {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
}
/* line 132, ../app/assets/stylesheets/general/_forms.scss */
input[type="text"]:focus, input[type="text"]:hover,
input[type="email"]:focus,
input[type="email"]:hover,
input[type="password"]:focus,
input[type="password"]:hover,
input[type="url"]:focus,
input[type="url"]:hover,
input[type="tel"]:focus,
input[type="tel"]:hover,
input[type="date"]:focus,
input[type="date"]:hover,
input[type="month"]:focus,
input[type="month"]:hover,
input[type="week"]:focus,
input[type="week"]:hover,
input[type="time"]:focus,
input[type="time"]:hover,
input[type="datetime"]:focus,
input[type="datetime"]:hover,
input[type="datetime-local"]:focus,
input[type="datetime-local"]:hover,
input[type="number"]:focus,
input[type="number"]:hover,
input[type="color"]:focus,
input[type="color"]:hover,
input[type="search"]:focus,
input[type="search"]:hover,
select:focus,
select:hover, textarea:focus, textarea:hover {
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #eeeeee;
  color: black;
}
/* line 137, ../app/assets/stylesheets/general/_forms.scss */
input[type="text"].error,
input[type="email"].error,
input[type="password"].error,
input[type="url"].error,
input[type="tel"].error,
input[type="date"].error,
input[type="month"].error,
input[type="week"].error,
input[type="time"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="number"].error,
input[type="color"].error,
input[type="search"].error,
select.error, textarea.error {
  border: 2px solid #b22222;
}
/* line 139, ../app/assets/stylesheets/general/_forms.scss */
input[type="text"].error:focus,
input[type="email"].error:focus,
input[type="password"].error:focus,
input[type="url"].error:focus,
input[type="tel"].error:focus,
input[type="date"].error:focus,
input[type="month"].error:focus,
input[type="week"].error:focus,
input[type="time"].error:focus,
input[type="datetime"].error:focus,
input[type="datetime-local"].error:focus,
input[type="number"].error:focus,
input[type="color"].error:focus,
input[type="search"].error:focus,
select.error:focus, textarea.error:focus {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  outline: 0;
}
/* line 144, ../app/assets/stylesheets/general/_forms.scss */
input[type="text"].disabled, input[type="text"][disabled], input[type="text"][readonly],
input[type="email"].disabled,
input[type="email"][disabled],
input[type="email"][readonly],
input[type="password"].disabled,
input[type="password"][disabled],
input[type="password"][readonly],
input[type="url"].disabled,
input[type="url"][disabled],
input[type="url"][readonly],
input[type="tel"].disabled,
input[type="tel"][disabled],
input[type="tel"][readonly],
input[type="date"].disabled,
input[type="date"][disabled],
input[type="date"][readonly],
input[type="month"].disabled,
input[type="month"][disabled],
input[type="month"][readonly],
input[type="week"].disabled,
input[type="week"][disabled],
input[type="week"][readonly],
input[type="time"].disabled,
input[type="time"][disabled],
input[type="time"][readonly],
input[type="datetime"].disabled,
input[type="datetime"][disabled],
input[type="datetime"][readonly],
input[type="datetime-local"].disabled,
input[type="datetime-local"][disabled],
input[type="datetime-local"][readonly],
input[type="number"].disabled,
input[type="number"][disabled],
input[type="number"][readonly],
input[type="color"].disabled,
input[type="color"][disabled],
input[type="color"][readonly],
input[type="search"].disabled,
input[type="search"][disabled],
input[type="search"][readonly],
select.disabled,
select[disabled],
select[readonly], textarea.disabled, textarea[disabled], textarea[readonly] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
  background-color: #eeeeee;
  border-color: 1px solid #cccccc;
  color: #999999;
}

/* line 160, ../app/assets/stylesheets/general/_forms.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
textarea {
  width: 414px;
}

/* line 164, ../app/assets/stylesheets/general/_forms.scss */
select {
  font-size: 14px;
}

/* line 169, ../app/assets/stylesheets/general/_forms.scss */
input[type="search"] {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  padding: 4px 0 4px 10px;
  width: 200px;
}

/* line 178, ../app/assets/stylesheets/general/_forms.scss */
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: #eeeeee -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(25%, #ffffff), color-stop(100%, #eeeeee)) no-repeat;
  background: #eeeeee -webkit-linear-gradient(#ffffff, #ffffff 25%, #eeeeee) no-repeat;
  background: #eeeeee -moz-linear-gradient(#ffffff, #ffffff 25%, #eeeeee) no-repeat;
  background: #eeeeee -o-linear-gradient(#ffffff, #ffffff 25%, #eeeeee) no-repeat;
  background: #eeeeee -ms-linear-gradient(#ffffff, #ffffff 25%, #eeeeee) no-repeat;
  background: #eeeeee linear-gradient(#ffffff, #ffffff 25%, #eeeeee) no-repeat;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  border: 1px solid #999999;
  border-bottom-color: #aaaaaa;
  color: #444444;
  padding: 5px 14px 6px;
  cursor: pointer;
  width: auto;
}
/* line 7, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
input[type="button"],
input[type="reset"],
input[type="submit"] {
  *display: inline;
}
/* line 15, ../app/assets/stylesheets/mixins/_buttons.scss */
input[type="button"]:visited,
input[type="reset"]:visited,
input[type="submit"]:visited {
  color: #444444;
}
/* line 19, ../app/assets/stylesheets/mixins/_buttons.scss */
input[type="button"]:hover, input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-position: 0 -15px;
  padding: 5px 14px 6px;
  color: black;
}
/* line 25, ../app/assets/stylesheets/mixins/_buttons.scss */
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
}
/* line 31, ../app/assets/stylesheets/mixins/_buttons.scss */
input[type="button"].error,
input[type="reset"].error,
input[type="submit"].error {
  border: 2px solid #b22222;
  color: #b22222;
}
/* line 34, ../app/assets/stylesheets/mixins/_buttons.scss */
input[type="button"].error:focus,
input[type="reset"].error:focus,
input[type="submit"].error:focus {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  outline: 0;
}
/* line 40, ../app/assets/stylesheets/mixins/_buttons.scss */
input[type="button"].disabled, input[type="button"][disabled], input[type="button"][readonly],
input[type="reset"].disabled,
input[type="reset"][disabled],
input[type="reset"][readonly],
input[type="submit"].disabled,
input[type="submit"][disabled],
input[type="submit"][readonly] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background-image: none;
  background-color: #eeeeee;
  border-color: 1px solid #cccccc;
  color: #999999;
  cursor: not-allowed;
}

/* line 183, ../app/assets/stylesheets/general/_forms.scss */
input[type="file"],
input[type="image"] {
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  margin-left: 2px;
}
/* line 186, ../app/assets/stylesheets/general/_forms.scss */
input[type="file"]:focus,
input[type="image"]:focus {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  outline: 1px solid rgba(82, 168, 236, 0.8);
}

/* line 192, ../app/assets/stylesheets/general/_forms.scss */
input[type="file"] {
  background: white;
  margin-left: 0;
}

/* line 199, ../app/assets/stylesheets/general/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  cursor: pointer;
  line-height: normal;
  margin: 1px 4px 0 0;
  *margin-top: 0;
  width: auto;
  height: auto;
}
/* line 207, ../app/assets/stylesheets/general/_forms.scss */
input[type="checkbox"].disabled, input[type="checkbox"][disabled], input[type="checkbox"][readonly],
input[type="radio"].disabled,
input[type="radio"][disabled],
input[type="radio"][readonly] {
  cursor: not-allowed;
}

/* line 215, ../app/assets/stylesheets/general/_forms.scss */
form ol li.error label, form ol li.error .hint, form ol li.error .inline-hints,
form ol li.error input, form ol li.error textarea, form ol li.error select {
  color: #b22222;
}
/* line 219, ../app/assets/stylesheets/general/_forms.scss */
form ol li.error input[type],
form ol li.error textarea, form ol li.error select {
  border: 1px solid #b22222;
}
/* line 221, ../app/assets/stylesheets/general/_forms.scss */
form ol li.error input[type]:focus,
form ol li.error textarea:focus, form ol li.error select:focus {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  outline: 0;
}
/* line 228, ../app/assets/stylesheets/general/_forms.scss */
form ol li.error input[type="checkbox"]:focus,
form ol li.error input[type="radio"]:focus {
  outline: 1px solid #b22222;
}

/* line 236, ../app/assets/stylesheets/general/_forms.scss */
form ol li.disabled label,
form ol li.disabled .inline-hints,
form ol li.disabled .hint {
  color: #999999;
}

/* line 3, ../app/assets/stylesheets/general/_elements.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 8, ../app/assets/stylesheets/general/_elements.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 13, ../app/assets/stylesheets/general/_elements.scss */
button, .btn {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: #eeeeee -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(25%, #ffffff), color-stop(100%, #eeeeee)) no-repeat;
  background: #eeeeee -webkit-linear-gradient(#ffffff, #ffffff 25%, #eeeeee) no-repeat;
  background: #eeeeee -moz-linear-gradient(#ffffff, #ffffff 25%, #eeeeee) no-repeat;
  background: #eeeeee -o-linear-gradient(#ffffff, #ffffff 25%, #eeeeee) no-repeat;
  background: #eeeeee -ms-linear-gradient(#ffffff, #ffffff 25%, #eeeeee) no-repeat;
  background: #eeeeee linear-gradient(#ffffff, #ffffff 25%, #eeeeee) no-repeat;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  border: 1px solid #999999;
  border-bottom-color: #aaaaaa;
  color: #444444;
  padding: 5px 14px 6px;
  cursor: pointer;
  width: auto;
}
/* line 7, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
button, .btn {
  *display: inline;
}
/* line 15, ../app/assets/stylesheets/mixins/_buttons.scss */
button:visited, .btn:visited {
  color: #444444;
}
/* line 19, ../app/assets/stylesheets/mixins/_buttons.scss */
button:hover, button:focus, .btn:hover, .btn:focus {
  background-position: 0 -15px;
  padding: 5px 14px 6px;
  color: black;
}
/* line 25, ../app/assets/stylesheets/mixins/_buttons.scss */
button:focus, .btn:focus {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8);
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
}
/* line 31, ../app/assets/stylesheets/mixins/_buttons.scss */
button.error, .btn.error {
  border: 2px solid #b22222;
  color: #b22222;
}
/* line 34, ../app/assets/stylesheets/mixins/_buttons.scss */
button.error:focus, .btn.error:focus {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8);
  outline: 0;
}
/* line 40, ../app/assets/stylesheets/mixins/_buttons.scss */
button.disabled, button[disabled], button[readonly], .btn.disabled, .btn[disabled], .btn[readonly] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background-image: none;
  background-color: #eeeeee;
  border-color: 1px solid #cccccc;
  color: #999999;
  cursor: not-allowed;
}

/* line 18, ../app/assets/stylesheets/general/_elements.scss */
table {
  background: white;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
  width: 100%;
}
/* line 25, ../app/assets/stylesheets/general/_elements.scss */
table caption {
  margin-bottom: 5px;
  text-align: left;
}
/* line 30, ../app/assets/stylesheets/general/_elements.scss */
table thead {
  background: white;
}
/* line 34, ../app/assets/stylesheets/general/_elements.scss */
table tbody {
  background: white;
}
/* line 38, ../app/assets/stylesheets/general/_elements.scss */
table tfoot {
  background: white;
}
/* line 42, ../app/assets/stylesheets/general/_elements.scss */
table tfoot tr, table tfoot td {
  padding: 5px 10px;
}
/* line 46, ../app/assets/stylesheets/general/_elements.scss */
table tr {
  border: 1px solid #777777;
}
/* line 50, ../app/assets/stylesheets/general/_elements.scss */
table tbody tr:nth-child(odd), table tbody tr.odd {
  background-color: #eeeeee;
}
/* line 54, ../app/assets/stylesheets/general/_elements.scss */
table tbody tr:nth-child(even), table tbody tr.even {
  background-color: #cccccc;
}
/* line 58, ../app/assets/stylesheets/general/_elements.scss */
table th, table td {
  padding: 10px;
  text-align: left;
}
/* line 63, ../app/assets/stylesheets/general/_elements.scss */
table th {
  font-weight: bold;
}
/* line 69, ../app/assets/stylesheets/general/_elements.scss */
table th a.ascending:after,
table th a.descending:after {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  content: "";
  margin-left: 10px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #268bd2 transparent;
}
/* line 7, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
table th a.ascending:after,
table th a.descending:after {
  *display: inline;
}
/* line 78, ../app/assets/stylesheets/general/_elements.scss */
table th a.ascending:hover:after,
table th a.descending:hover:after {
  border-color: #777777 transparent;
}
/* line 85, ../app/assets/stylesheets/general/_elements.scss */
table th a.descending:after {
  border-width: 4px 4px 0;
}

/* line 2, ../app/assets/stylesheets/general/_helpers.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 11, ../app/assets/stylesheets/general/_helpers.scss */
.ir br {
  display: none;
}

/* line 15, ../app/assets/stylesheets/general/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 20, ../app/assets/stylesheets/general/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 32, ../app/assets/stylesheets/general/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 41, ../app/assets/stylesheets/general/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 46, ../app/assets/stylesheets/general/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 51, ../app/assets/stylesheets/general/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 55, ../app/assets/stylesheets/general/_helpers.scss */
.clearfix {
  zoom: 1;
}

/* line 59, ../app/assets/stylesheets/general/_helpers.scss */
.guider {
  background: none;
  outline: 1px dotted magenta;
  position: absolute;
  display: none;
  left: 0;
  top: 20px;
  width: 100%;
  height: 20px;
}

/* line 3, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message {
  background: #4d4d4d -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a)) no-repeat;
  background: #4d4d4d -webkit-linear-gradient(#4d4d4d, #1a1a1a) no-repeat;
  background: #4d4d4d -moz-linear-gradient(#4d4d4d, #1a1a1a) no-repeat;
  background: #4d4d4d -o-linear-gradient(#4d4d4d, #1a1a1a) no-repeat;
  background: #4d4d4d -ms-linear-gradient(#4d4d4d, #1a1a1a) no-repeat;
  background: #4d4d4d linear-gradient(#4d4d4d, #1a1a1a) no-repeat;
  -moz-transition: all 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -webkit-transition: all 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  border-bottom: 1px solid #444444;
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  top: -80px;
  left: 0;
  width: 100%;
  cursor: pointer;
  padding: 10px 0 10px 50px;
}
/* line 17, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message:first-letter {
  text-transform: capitalize;
}
/* line 20, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message:hover {
  background: #474747 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #474747), color-stop(100%, #141414)) no-repeat;
  background: #474747 -webkit-linear-gradient(#474747, #141414) no-repeat;
  background: #474747 -moz-linear-gradient(#474747, #141414) no-repeat;
  background: #474747 -o-linear-gradient(#474747, #141414) no-repeat;
  background: #474747 -ms-linear-gradient(#474747, #141414) no-repeat;
  background: #474747 linear-gradient(#474747, #141414) no-repeat;
}
/* line 24, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message.show {
  -moz-transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  top: 0px;
}
/* line 29, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message.notice {
  background: #4d4d4d -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a)) no-repeat;
  background: #4d4d4d -webkit-linear-gradient(#4d4d4d, #1a1a1a) no-repeat;
  background: #4d4d4d -moz-linear-gradient(#4d4d4d, #1a1a1a) no-repeat;
  background: #4d4d4d -o-linear-gradient(#4d4d4d, #1a1a1a) no-repeat;
  background: #4d4d4d -ms-linear-gradient(#4d4d4d, #1a1a1a) no-repeat;
  background: #4d4d4d linear-gradient(#4d4d4d, #1a1a1a) no-repeat;
}
/* line 31, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message.notice:hover {
  background: #474747 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #474747), color-stop(100%, #141414)) no-repeat;
  background: #474747 -webkit-linear-gradient(#474747, #141414) no-repeat;
  background: #474747 -moz-linear-gradient(#474747, #141414) no-repeat;
  background: #474747 -o-linear-gradient(#474747, #141414) no-repeat;
  background: #474747 -ms-linear-gradient(#474747, #141414) no-repeat;
  background: #474747 linear-gradient(#474747, #141414) no-repeat;
}
/* line 35, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message.important {
  background: #268bd2 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #268bd2), color-stop(100%, #16527c)) no-repeat;
  background: #268bd2 -webkit-linear-gradient(#268bd2, #16527c) no-repeat;
  background: #268bd2 -moz-linear-gradient(#268bd2, #16527c) no-repeat;
  background: #268bd2 -o-linear-gradient(#268bd2, #16527c) no-repeat;
  background: #268bd2 -ms-linear-gradient(#268bd2, #16527c) no-repeat;
  background: #268bd2 linear-gradient(#268bd2, #16527c) no-repeat;
}
/* line 37, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message.important:hover {
  background: #2485c9 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2485c9), color-stop(100%, #154c73)) no-repeat;
  background: #2485c9 -webkit-linear-gradient(#2485c9, #154c73) no-repeat;
  background: #2485c9 -moz-linear-gradient(#2485c9, #154c73) no-repeat;
  background: #2485c9 -o-linear-gradient(#2485c9, #154c73) no-repeat;
  background: #2485c9 -ms-linear-gradient(#2485c9, #154c73) no-repeat;
  background: #2485c9 linear-gradient(#2485c9, #154c73) no-repeat;
}
/* line 41, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message.success {
  background: #46a546 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #46a546), color-stop(100%, #285d28)) no-repeat;
  background: #46a546 -webkit-linear-gradient(#46a546, #285d28) no-repeat;
  background: #46a546 -moz-linear-gradient(#46a546, #285d28) no-repeat;
  background: #46a546 -o-linear-gradient(#46a546, #285d28) no-repeat;
  background: #46a546 -ms-linear-gradient(#46a546, #285d28) no-repeat;
  background: #46a546 linear-gradient(#46a546, #285d28) no-repeat;
}
/* line 43, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message.success:hover {
  background: #439e43 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #439e43), color-stop(100%, #255625)) no-repeat;
  background: #439e43 -webkit-linear-gradient(#439e43, #255625) no-repeat;
  background: #439e43 -moz-linear-gradient(#439e43, #255625) no-repeat;
  background: #439e43 -o-linear-gradient(#439e43, #255625) no-repeat;
  background: #439e43 -ms-linear-gradient(#439e43, #255625) no-repeat;
  background: #439e43 linear-gradient(#439e43, #255625) no-repeat;
}
/* line 47, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message.warning {
  background: #ffc40d -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc40d), color-stop(100%, #a67e00)) no-repeat;
  background: #ffc40d -webkit-linear-gradient(#ffc40d, #a67e00) no-repeat;
  background: #ffc40d -moz-linear-gradient(#ffc40d, #a67e00) no-repeat;
  background: #ffc40d -o-linear-gradient(#ffc40d, #a67e00) no-repeat;
  background: #ffc40d -ms-linear-gradient(#ffc40d, #a67e00) no-repeat;
  background: #ffc40d linear-gradient(#ffc40d, #a67e00) no-repeat;
}
/* line 49, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message.warning:hover {
  background: #ffc203 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc203), color-stop(100%, #9c7600)) no-repeat;
  background: #ffc203 -webkit-linear-gradient(#ffc203, #9c7600) no-repeat;
  background: #ffc203 -moz-linear-gradient(#ffc203, #9c7600) no-repeat;
  background: #ffc203 -o-linear-gradient(#ffc203, #9c7600) no-repeat;
  background: #ffc203 -ms-linear-gradient(#ffc203, #9c7600) no-repeat;
  background: #ffc203 linear-gradient(#ffc203, #9c7600) no-repeat;
}
/* line 53, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message.alert {
  background: #f26522 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f26522), color-stop(100%, #a43b0a)) no-repeat;
  background: #f26522 -webkit-linear-gradient(#f26522, #a43b0a) no-repeat;
  background: #f26522 -moz-linear-gradient(#f26522, #a43b0a) no-repeat;
  background: #f26522 -o-linear-gradient(#f26522, #a43b0a) no-repeat;
  background: #f26522 -ms-linear-gradient(#f26522, #a43b0a) no-repeat;
  background: #f26522 linear-gradient(#f26522, #a43b0a) no-repeat;
}
/* line 55, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message.alert:hover {
  background: #f15e18 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f15e18), color-stop(100%, #9b3809)) no-repeat;
  background: #f15e18 -webkit-linear-gradient(#f15e18, #9b3809) no-repeat;
  background: #f15e18 -moz-linear-gradient(#f15e18, #9b3809) no-repeat;
  background: #f15e18 -o-linear-gradient(#f15e18, #9b3809) no-repeat;
  background: #f15e18 -ms-linear-gradient(#f15e18, #9b3809) no-repeat;
  background: #f15e18 linear-gradient(#f15e18, #9b3809) no-repeat;
}
/* line 59, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message.error {
  background: #b22222 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b22222), color-stop(100%, #5c1212)) no-repeat;
  background: #b22222 -webkit-linear-gradient(#b22222, #5c1212) no-repeat;
  background: #b22222 -moz-linear-gradient(#b22222, #5c1212) no-repeat;
  background: #b22222 -o-linear-gradient(#b22222, #5c1212) no-repeat;
  background: #b22222 -ms-linear-gradient(#b22222, #5c1212) no-repeat;
  background: #b22222 linear-gradient(#b22222, #5c1212) no-repeat;
}
/* line 61, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message.error:hover {
  background: #a92020 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a92020), color-stop(100%, #541010)) no-repeat;
  background: #a92020 -webkit-linear-gradient(#a92020, #541010) no-repeat;
  background: #a92020 -moz-linear-gradient(#a92020, #541010) no-repeat;
  background: #a92020 -o-linear-gradient(#a92020, #541010) no-repeat;
  background: #a92020 -ms-linear-gradient(#a92020, #541010) no-repeat;
  background: #a92020 linear-gradient(#a92020, #541010) no-repeat;
}

/* line 67, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message-content {
  margin-right: 75px;
}
/* line 69, ../app/assets/stylesheets/components/_flash-messaging.scss */
div#flash_messages .message-content:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  color: black;
  content: "x";
  float: right;
  font-size: 20px;
  line-height: 12px;
  text-shadow: 0 1px 0 #eeeeee;
}

/* line 2, ../app/assets/stylesheets/components/_pagination.scss */
nav.pagination {
  overflow: hidden;
  *zoom: 1;
  color: #777777;
  line-height: 120%;
  margin: 20px 0;
}
/* line 8, ../app/assets/stylesheets/components/_pagination.scss */
nav.pagination span, nav.pagination a, nav.pagination em {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  font-style: normal;
  font-weight: bold;
  margin-right: 6px;
  padding: 2px 6px;
}
/* line 18, ../app/assets/stylesheets/components/_pagination.scss */
nav.pagination span.gap {
  border: none;
  padding: 8px 0 0;
}
/* line 23, ../app/assets/stylesheets/components/_pagination.scss */
nav.pagination .current, nav.pagination a:hover {
  color: white;
  background: #268bd2;
  border-color: #f26522;
}
/* line 30, ../app/assets/stylesheets/components/_pagination.scss */
nav.pagination .next_page,
nav.pagination .previous_page {
  border: none;
}
/* line 32, ../app/assets/stylesheets/components/_pagination.scss */
nav.pagination .next_page:hover,
nav.pagination .previous_page:hover {
  background: none;
  color: #777777;
}
/* line 38, ../app/assets/stylesheets/components/_pagination.scss */
nav.pagination .disabled {
  color: #dddddd;
}
/* line 40, ../app/assets/stylesheets/components/_pagination.scss */
nav.pagination .disabled:hover {
  background: none;
  color: #dddddd;
}

/* line 2, ../app/assets/stylesheets/components/_breadcrumbs.scss */
nav.breadcrumb {
  color: #777777;
  font-weight: bold;
}
/* line 6, ../app/assets/stylesheets/components/_breadcrumbs.scss */
nav.breadcrumb li {
  display: inline;
}
/* line 9, ../app/assets/stylesheets/components/_breadcrumbs.scss */
nav.breadcrumb li:after {
  content: " /";
}
/* line 14, ../app/assets/stylesheets/components/_breadcrumbs.scss */
nav.breadcrumb li:last-child:after {
  content: "";
}
/* line 20, ../app/assets/stylesheets/components/_breadcrumbs.scss */
nav.breadcrumb li a {
  color: #268bd2;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav.breadcrumb li a:visited {
  color: #268bd2;
}
/* line 21, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav.breadcrumb li a:focus {
  color: #777777;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav.breadcrumb li a:hover {
  color: #777777;
}
/* line 27, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav.breadcrumb li a:active {
  color: #777777;
}
/* line 28, ../app/assets/stylesheets/components/_breadcrumbs.scss */
nav.breadcrumb li.active {
  color: #777777;
}

/* line 2, ../app/assets/stylesheets/components/_tabs.scss */
nav.tabs {
  color: #777777;
  font-weight: bold;
}
/* line 6, ../app/assets/stylesheets/components/_tabs.scss */
nav.tabs ul {
  margin: 0 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 11, ../app/assets/stylesheets/components/_tabs.scss */
nav.tabs li {
  float: left;
  margin: 0 2px 0 0;
}
/* line 16, ../app/assets/stylesheets/components/_tabs.scss */
nav.tabs li a {
  -moz-border-radius: 12px 12px 0px 0px;
  -webkit-border-radius: 12px 12px 0px 0px;
  -o-border-radius: 12px 12px 0px 0px;
  -ms-border-radius: 12px 12px 0px 0px;
  -khtml-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
  background: #eeeeee;
  border: 1px solid #dddddd;
  border-bottom: none;
  float: left;
  padding: 10px 40px;
  -webkit-background-clip: padding-box;
}
/* line 24, ../app/assets/stylesheets/components/_tabs.scss */
nav.tabs li a:hover {
  background: #268bd2;
  border-color: #f26522;
  color: white;
}
/* line 31, ../app/assets/stylesheets/components/_tabs.scss */
nav.tabs li.active a {
  color: #777777;
  background: white;
  border-bottom: 1px solid white;
}
/* line 35, ../app/assets/stylesheets/components/_tabs.scss */
nav.tabs li.active a:hover {
  background: white;
  border-color: #dddddd;
  border-bottom-color: white;
  color: #777777;
  cursor: default;
}
/* line 44, ../app/assets/stylesheets/components/_tabs.scss */
nav.tabs hr {
  border-color: #dddddd;
  margin-top: -1px;
}

/* line 2, ../app/assets/stylesheets/components/_twipsy.scss */
.twipsy {
  -moz-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  display: block;
  font-size: 11px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  visibility: visible;
  z-index: 1000;
}
/* line 12, ../app/assets/stylesheets/components/_twipsy.scss */
.twipsy.fade.in {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 15, ../app/assets/stylesheets/components/_twipsy.scss */
.twipsy.above .twipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

/* line 24, ../app/assets/stylesheets/components/_twipsy.scss */
.twipsy-inner {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: black;
  color: white;
  max-width: 200px;
  padding: 3px 8px;
  text-align: center;
}

/* line 32, ../app/assets/stylesheets/components/_twipsy.scss */
.twipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

/* line 2, ../app/assets/stylesheets/layouts/_containers.scss */
#container {
  width: 984px;
  overflow: hidden;
  margin: 45px 0 0 50px;
}

@media (min-device-width:1024px) and (max-width:960px),(min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {
  /* line 10, ../app/assets/stylesheets/queries/_tablet-portrait.scss */
  #container {
    width: 768px;
  }
}
@media (min-device-width:1024px) and (max-width:747px),(max-device-width:480px) and (orientation:landscape) {
  /* line 10, ../app/assets/stylesheets/queries/_mobile-landscape.scss */
  #container {
    width: 480px;
  }
}
@media (min-device-width:1024px) and (max-width:469px),(max-device-width:480px) and (orientation:portrait) {
  /* line 10, ../app/assets/stylesheets/queries/_mobile-portrait.scss */
  #container {
    width: 312px;
  }
}
/* line 2, ../app/assets/stylesheets/queries/_nojs.scss */
div#no_js {
  display: none;
}

/* line 6, ../app/assets/stylesheets/queries/_nojs.scss */
html.no-js div#no_js {
  background: #b22222 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b22222), color-stop(100%, #5c1212)) no-repeat;
  background: #b22222 -webkit-linear-gradient(#b22222, #5c1212) no-repeat;
  background: #b22222 -moz-linear-gradient(#b22222, #5c1212) no-repeat;
  background: #b22222 -o-linear-gradient(#b22222, #5c1212) no-repeat;
  background: #b22222 -ms-linear-gradient(#b22222, #5c1212) no-repeat;
  background: #b22222 linear-gradient(#b22222, #5c1212) no-repeat;
  color: white;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 15px 0 15px 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
/* line 19, ../app/assets/stylesheets/queries/_nojs.scss */
html.no-js div#no_js a {
  color: white;
  text-decoration: underline;
}
/* line 22, ../app/assets/stylesheets/queries/_nojs.scss */
html.no-js div#no_js a:hover {
  color: white;
  text-decoration: none;
}

/* @import 'queries/print'; */
