
// ## Form containers and base settings
form
  margin: 0

fieldset
  border: 0

form ol, form ul, form li
  margin: 0
  padding: 0

form ol, form ul
  +clearfixer
  +no-bullet

form li
  display: block
  margin-bottom: 1em
  &:last-child
    margin-bottom: 0

\:-moz-placeholder
  color: $placeholder

\::-webkit-input-placeholder
  color: $placeholder


// ## Description elements
form abbr[title]
  border: none

legend + ol,
legend + ul
  margin-top: 1.5em
  -webkit-margin-top-collapse: separate

legend
  display: block
  border-bottom: 1px solid $component_border
  color: $header_color
  font-size: 1.25em
  padding-bottom: .25em
  width: 100%

label
  display: block
  font-size: .85em
  margin-bottom: .3em

.hint
  display: block
  color: $body_color_alt
  font-size: .92em
  margin-top: .25em


// ## Form controls
input,
textarea,
select
  +box-sizing(border-box)
  +border-radius($radii)
  +font-sizes($base_font_size)
  display: inline-block
  vertical-align: middle
  border: 1px solid $component_border
  color: $body_color
  padding: .4em

input,
textarea
  +box-shadow($input_inset_shadow)
  +transition(border $speed, box-shadow $speed, background-color $speed)

select
  background-color: $white
  line-height: 28px
  height: 28px

label input,
label textarea,
label select
  display: block

.search-query
  +border-radius(1em)
  padding-left: 1em
  padding-right: 1em
  margin-bottom: 0


// ## Perform resets on odd controls before defining again
select[multiple],
select[size]
  height: auto

input[type="file"]
  +box-shadow(none)
  background-color: $white
  background-color: initial
  border: initial
  line-height: initial
  margin-top: 0.3em
  padding: initial

input[type="image"]
  +border-radius(0)
  border-color: transparent
  margin: 0
  padding: 0


// ## Radio and Checkboxes
input[type="checkbox"],
input[type="radio"]
  +border-radius(0)
  display: inline-block
  vertical-align: middle
  border: 0
  margin: -0.3em 0.3em 0 0
  padding: 0

form .choices-group
  margin: 1em 0
form .choices-group li
  margin: 0

form .boolean,
form .choice
  margin-bottom: .3em

form .boolean > label,
form .choice > label
  +font-sizes($base_font_size)

form .boolean.inline,
form .choice.inline
  display: inline-block
  vertical-align: middle
  margin-right: 1em


// ## Focus states
input:focus,
textarea:focus
  +box-shadow($input_inset_shadow, $focus_glow)
  background-color: $off_white
  border-color: $focus_border
  outline: 0
  outline: thin dotted \9

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus
  +box-shadow(none)
  +tab-focus

// ## Disabled states
input,
textarea,
select
  &.disabled, &[disabled], &[readonly]
    +box-shadow(none)
    cursor: not-allowed
    background-color: $disabled_bg
    border-color: $disabled_border
    color: $disabled_color

input[type="button"],
input[type="submit"],
input[type="reset"]
  &.disabled:hover,
  &[disabled]:hover,
  &[readonly]:hover
    color: $disabled_color

input[type="file"][disabled],
input[type="file"][readonly]
  background-color: $white
  background-color: initial
  border: initial

input[type="image"][disabled],
input[type="image"][readonly]
  +opacity(0.5)

form .disabled label,
form .disabled .hint
  color: $disabled_color

// ## Error, Warning Success states
@mixin form-states($text_color, $border_color)
  label, .hint
    color: $text_color

  input, select, textarea
    color: $text_color
    border-color: $border_color
    &:focus
      color: $text_color
      +box-shadow(0 0 6px lighten($border_color, 20%))
      border-color: darken($border_color, 10%)

  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover
    color: $text_color
    border-color: darken($border_color, 10%)

form .error
  +form-states($error, $error)
form .success
  +form-states($success, $success)
form .warning
  $warn: darken($warning, 10%)
  +form-states($warn, $warn)

// HTML5 invalid states
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid
  color: $error
  border-color: $error
  &:focus
    +box-shadow(0 0 6px lighten($error, 20%))
    border-color: darken($error, 10%)


// Button group containers
.form-actions
  background-color: $off_white
  border-top: 1px solid $component_border
  margin-top: 1em
  margin-bottom: 1em
  padding: 1.5em
  &.dark
    background-color: #e3e3e3

.form-actions li
  display: inline-block
  vertical-align: middle
  margin: 0


// ## Form layouts
.form-search,
.form-inline,
.form-horizontal
  input,
  textarea,
  select
    display: inline-block
    margin-bottom: 0

.form-inline label,
.form-search label
  display: inline-block
  margin-bottom: 0


// ## Horizontal specific overrides
.form-horizontal
  li
    +clearfixer
  li > input,
  li > textarea,
  li > select
    margin-left: 1em

  li > label
    float: left
    text-align: right
    padding-top: .5em
    width: $horiz_offset

  .boolean > label,
  .choice > label
    float: none
    text-align: left
    margin-left: 1em
    padding-top: 0
    padding-left: $horiz_offset
    width: auto

  .boolean.inline + .boolean.inline > label,
  .choice.inline + .choice.inline > label
    margin-left: 0
    padding-left: 0

  .form-actions
    padding-left: $horiz_offset

  .hint
    margin-left: 1.2em
    padding-left: $horiz_offset


// ## Convenience classes for sizing
.input-xsmall
  width: 12.5%
.input-small
  width: 25%
.input-medium
  width: 50%
.input-large
  width: 75%
.input-xlarge
  width: 100%

