
// ## Form containers and base settings
form
  // TODO: Look at creating some additional padding around forms?
  margin: 0

fieldset
  border: 0

form ol, form ul, form li
  margin: 0
  padding: 0

form ol, form ul
  +clearfixer
  +no-bullet

form li
  display: block
  margin-bottom: .65em
  &:last-child
    margin-bottom: 0

\:-moz-placeholder
  color: $placeholder

\::-webkit-input-placeholder
  color: $placeholder


// ## Form elements

// Groups of fields with labels on top (legends)
legend
  display: block
  border-bottom: 1px solid $greyE
  color: $header_color
  font-size: 1.25em
  padding-bottom: .25em
  width: 100%


// Identify controls by their labels
label
  display: block
  font-size: .85em
  margin-bottom: .3em

// Be specific about the inputs to avoid style leak through
// TODO: look at the default settings for shadows and colorways
input,
textarea,
select
  +border-radius($radii)
  +box-shadow(inset 0 1px 1px rgba($black,.1))
  +transition(border 0.25s, box-shadow 0.25s, background-color 0.25s)
  display: block
  border: 1px solid #ccc
  padding: .3em
  width: 210px
  &:focus
    +box-shadow(inset 0 1px 1px rgba($black,.1), 0 0 8px rgba(82,168,236,.6))
    border-color: rgba(82,168,236,.8)
    outline: 0
  &:focus, &:hover
    background-color: #fafafa
  &.error
    border: 2px solid $error
    &:focus
      +box-shadow($focus_inset, $error_glow)
      outline: 0
  &.disabled, &[disabled], &[readonly]
    cursor: not-allowed
    background-color: $disabled_bg
    border-color: $disabled_border
    // color: $disabled_color


// Perform Mini resets on certain input elements before defining again
// -----------------------------------------------
input[type="radio"],
input[type="checkbox"],
input[type="button"],
input[type="image"],
input[type="reset"],
input[type="submit"]
  width: auto
  height: auto

input[type="image"],
input[type="checkbox"],
input[type="radio"]
  +border-radius(0)
  padding: 0
  margin: 0
  *margin-top: 0
  cursor: pointer

// Reset the file input to browser defaults
input[type="file"]
  +box-shadow(none)
  padding: initial
  line-height: initial
  border: initial
  background-color: $white
  background-color: initial

// -----------------------------------------------
.choices-group label,
.boolean label,
  +font-sizes($base_font_size)

.choices-group li
  margin: 0

input[type="checkbox"],
input[type="radio"]
  +inline-block
  border: 0
  margin-top: -0.3em

// -----------------------------------------------
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus
  +box-shadow(none)
  +tab-focus

