
%caption Table Caption
%thead
  %tr
    %th
      %a(href="#") #
    %th Table Header
    %th
      %a.ascending(href="#") Ascending <span class="caret"></span>
    %th
      %a.descending(href="#") Descending <span class="caret north"></span>
%tfoot
  %tr
    %td(colspan="4") The table footer appears at the bottom of the table. Set the <code>colspan</code> attribute to span the width of the table.
%tbody
  %tr
    %td 1
    %td Table Data
    %td One
    %td Three
  %tr
    %td 2
    %td
      %a(href="#") Click me!
    %td Two
    %td Two
  %tr
    %td 3
    %td
      %a(href="#") Click me!
    %td Three
    %td One

