
%section.sg-tranny-demo
  %table.box.vborder.banded.thead-decorate
    %thead
      %tr
        %th Property
        %th Example
    %tbody
      %tr
        %td.prop
          %code default (linear)
        %td
          .sg-swatch
      %tr
        %td.prop
          %code $ease-in-quad
        %td
          .sg-swatch.ease-in-quad
      %tr
        %td.prop
          %code $ease-in-cubic
        %td
          .sg-swatch.ease-in-cubic
      %tr
        %td.prop
          %code $ease-in-quart
        %td
          .sg-swatch.ease-in-quart
      %tr
        %td.prop
          %code $ease-in-quint
        %td
          .sg-swatch.ease-in-quint
      %tr
        %td.prop
          %code $ease-in-sine
        %td
          .sg-swatch.ease-in-sine
      %tr
        %td.prop
          %code $ease-in-expo
        %td
          .sg-swatch.ease-in-expo
      %tr
        %td.prop
          %code $ease-in-circ
        %td
          .sg-swatch.ease-in-circ
      %tr
        %td.prop
          %code $ease-in-back
        %td
          .sg-swatch.ease-in-back

      %tr
        %td.prop
          %code $ease-out-quad
        %td
          .sg-swatch.ease-out-quad
      %tr
        %td.prop
          %code $ease-out-cubic
        %td
          .sg-swatch.ease-out-cubic
      %tr
        %td.prop
          %code $ease-out-quart
        %td
          .sg-swatch.ease-out-quart
      %tr
        %td.prop
          %code $ease-out-quint
        %td
          .sg-swatch.ease-out-quint
      %tr
        %td.prop
          %code $ease-out-sine
        %td
          .sg-swatch.ease-out-sine
      %tr
        %td.prop
          %code $ease-out-expo
        %td
          .sg-swatch.ease-out-expo
      %tr
        %td.prop
          %code $ease-out-circ
        %td
          .sg-swatch.ease-out-circ
      %tr
        %td.prop
          %code $ease-out-back
        %td
          .sg-swatch.ease-out-back

      %tr
        %td.prop
          %code $ease-in-out-quad
        %td
          .sg-swatch.ease-in-out-quad
      %tr
        %td.prop
          %code $ease-in-out-cubic
        %td
          .sg-swatch.ease-in-out-cubic
      %tr
        %td.prop
          %code $ease-in-out-quart
        %td
          .sg-swatch.ease-in-out-quart
      %tr
        %td.prop
          %code $ease-in-out-quint
        %td
          .sg-swatch.ease-in-out-quint
      %tr
        %td.prop
          %code $ease-in-out-sine
        %td
          .sg-swatch.ease-in-out-sine
      %tr
        %td.prop
          %code $ease-in-out-expo
        %td
          .sg-swatch.ease-in-out-expo
      %tr
        %td.prop
          %code $ease-in-out-circ
        %td
          .sg-swatch.ease-in-out-circ
      %tr
        %td.prop
          %code $ease-in-out-back
        %td
          .sg-swatch.ease-in-out-back

