
// Embedded Content
img
  border: 0
  -ms-interpolation-mode: bicubic

svg:not(:root)
  overflow: hidden

// Not Supported in all Browsers
meter, progress
  padding: 10px 0

// Flags and Stickers
.flag, .sticker
  +border-radius(4px)
  background-color: $standard
  color: $white
  &.notice
    background-color: $notice
  &.success
    background-color: $success
  &.important
    background-color: $important
  &.warning
    background-color: $warning
  &.alert
    background-color: $alert
  &.error
    background-color: $error

.flag
  font-size: 85%
  font-weight: bold
  padding: 2px 4px
  text-transform: uppercase

.sticker
  +inline-block
  padding: 6px 8px

// Buttons
.btn
  +btn-button($btn_bg, $btn_gradient, $btn_color)
  &.standard
    +btn-override($standard, $white)
  &.notice
    +btn-override($notice, $white)
  &.important
    +btn-override($important, $white)
  &.success
    +btn-override($success, $white)
  &.warning
    +btn-override($warning, $white)
  &.alert
    +btn-override($alert, $white)
  &.danger
    +btn-override($danger, $white)

a.btn
  font-weight: bold

.action
  +action-button($action_bg, $action_color)
  &.standard
    +action-override($standard, $white)
  &.notice
    +action-override($notice, $white)
  &.important
    +action-override($important, $white)
  &.success
    +action-override($success, $white)
  &.warning
    +action-override($warning, $white)
  &.alert
    +action-override($alert, $white)
  &.danger
    +action-override($danger, $white)

