
// Embedded Content
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

// Flags and Stickers
.flag, .sticker {
  @include border-radius(3px);
  background-color: $standard;
  color: $white;
  &.notice    { background-color: $notice; }
  &.success   { background-color: $success; }
  &.important { background-color: $important; }
  &.warning   { background-color: $warning; }
  &.alert     { background-color: $alert; }
  &.error     { background-color: $error; }
}

.flag {
  font-size: 85%;
  font-weight: bold;
  padding: 1px 4px;
  text-transform: uppercase;
}

.sticker {
  @include inline-block;
  padding: 6px 10px;
}

// Buttons
a.btn {
  font-weight: bold;
}
button, .btn {
  @include def-button();

  &.standard {
    @include def-color-button($standard, $white);
  }
  &.notice {
    @include def-color-button($notice, $white);
  }
  &.important {
    @include def-color-button($important, $white);
  }
  &.success {
    @include def-color-button($success, $white);
  }
  &.warning {
    @include def-color-button($warning, $white);
  }
  &.alert {
    @include def-color-button($alert, $white);
  }
  &.danger {
    @include def-color-button($error, $white);
  }
}

