
// Tables
table
  margin: .5em 0
  width: 100%

  th, td
    padding: 0.6em
    line-height: 1
    text-align: left
    border-top: 1px solid $component_border

  th
    font-weight: bold
    vertical-align: bottom

  thead:first-child tr th,
  thead:first-child tr td
    border-top: 0

  tbody td > a:hover
    text-decoration: underline

  tfoot
    font-size: 0.85em

  tbody + tbody
    border-top: 2px solid $component_border

  // Specials
  th a.ascending:after,
  th a.descending:after
    +inline-block
    content: ""
    margin: -4px 0 0 8px
    border-width: 0 4px 4px
    border-style: solid
    border-color: $link_normal transparent
  th a.ascending:hover:after,
  th a.descending:hover:after
    border-color: $link_hover transparent
  th a.descending:after
    border-width: 4px 4px 0

// Take another look at the overrides for borders... might not be needed
table.box
  thead tr
    border: 1px solid $component_border
  tbody tr
    border: 1px solid $component_border
  tfoot tr
    border: 1px solid $component_border

  /* Override when vborder is attached to the same class
  thead th
    &:first-child
      border-left-color: $component_border !important
    &:last-child
      border-right-color: $component_border !important
  tbody td
    &:first-child
      border-left-color: $component_border !important
    &:last-child
      border-right-color: $component_border !important

// Vertical borders
table.vborder
  thead th
    border-left: 1px solid $component_border
    border-right: 1px solid $component_border
    &:first-child
      border-left-color: transparent
    &:last-child
      border-right-color: transparent

  tbody td
    border-left: 1px solid $component_border
    border-right: 1px solid $component_border
    &:first-child
      border-left-color: transparent
    &:last-child
      border-right-color: transparent

// Zebra table
table.zebra tbody tr
  &:nth-child(odd), &.odd
    background-color: transparent
  &:nth-child(even), &.even
    background-color: $standard

// Colorize the table header background
table.thead-decorate thead
  background-color: $component_bg_hover

// Colorize the table footer background
table.tfoot-decorate tfoot
  background-color: $standard

