
.sg-subsection
  %h3.sg-subheading Favicon &amp; Touch icons
  .sg-half.pull
    %p Include these icons in the root directory of your project and there is no need for extra markup in the <code>&lt;head&gt;</code> of your html file.
    %br
    %ol
      %li <samp>favicon.ico</samp> <code>[16x16]</code>
      %li <samp>apple-touch-icon.png</samp> <code>[57x57]</code>
      %li <samp>apple-touch-icon-precomposed.png</samp> <code>[57x57]</code>
      %li <samp>apple-touch-icon-57x57-precomposed.png</samp>
      %li <samp>apple-touch-icon-72x72-precomposed.png</samp>
      %li <samp>apple-touch-icon-114x114-precomposed.png</samp>
    %br
    %p
      %small
        You can optionally include a <code>320x460</code> <code>startup.png</code> in your root directory as well. See the <a href="http://miniapps.co.uk/blog/post/ios-startup-images-using-css-media-queries/">post</a> by Alex Gibson for more information.
  .sg-half.push
    .well
      %img(src='/favicon.ico' alt='favicon')
      %img(src='/apple-touch-icon.png' alt='apple touch icon')
      %img(src='/apple-touch-icon-precomposed.png' alt='apple touch icon')
      %img(src='/apple-touch-icon-57x57-precomposed.png' alt='apple touch icon')
      %img(src='/apple-touch-icon-72x72-precomposed.png' alt='apple touch icon')
      %img(src='/apple-touch-icon-114x114-precomposed.png' alt='apple touch icon')
    .notification.important.fade.in
      %p <strong>Note!</strong> For more information on using icons, see <a href="http://mathiasbynens.be/notes/touch-icons">Mathias Bynens post</a>

.sg-subsection
  %h3.sg-subheading UI elements
  %p Sprites, icons, graphics, and other image assets used within the application.
.sg-subsection
  .well
    - @images.each do |image|
      - base = "#{File.basename(image)}"
      %p.sg-note(style="margin: 1.5em 0 1em 0;") #{image}
      %img(src="#{image}" alt="#{base}")
  .notification.important.fade.in
    %p <strong>Note!</strong> Images are auto populated from <code>public/images/*</code>

