
#layouts_containers.sg-spy-landing
.sg-subsection
  %h3.sg-subheading Containers <span>containers.sass</span>
  %p.sg-twothird.pull Containers are used to "contain" elements of content within a page or section. All containers inject a <a href="http://nicolasgallagher.com/micro-clearfix-hack/">micro clearfix</a> to clear any floats from interior elements.
.sg-subsection
  %table.box.banded.thead-decorate
    %thead
      %tr
        %th Class
        %th Usage
    %tbody
      %tr
        %td
          %code .container
        %td The default container is a fluid width container with a <code>max-width</code> set to the <code>$base_width</code> variable.
      %tr
        %td
          %code .container.fluid
        %td Adding the <code>.fluid</code> class to a <code>container</code> will remove the <code>max-width</code> setting and allow the container to fill the browser window.
      %tr
        %td
          %code .container.fixed
        %td Adding the <code>.fixed</code> class to a <code>container</code> will render it using fixed width pixels with no responsive behavior.

#layouts_queries.sg-spy-landing
.sg-subsection
  %h3.sg-subheading Media Queries <span>queries.sass</span>
  %p.sg-twothird.pull Some default media queries are put into place and are tuned for some of the components. These should be adjusted based on the application's needs. At the moment, we are not rolling mobile first, but rather override as the viewport becomes smaller.
.sg-subsection
  %table.box.banded.thead-decorate
    %thead
      %tr
        %th Media Query
        %th Usage
    %tbody
      %tr
        %td
          %code @media min-width: 1200px
        %td Used for larger screens primarily on desktop and laptop devices.
      %tr
        %td
          %code @media min-width: 980px
        %td Smaller desktop, laptop devices, tablets, this number should change based on the type of navigation being rolled
      %tr
        %td
          %code @media max-width: 979px
        %td For this specific application, it's where the navigation breaksdown and we need to go to the responsive "toggle" style
      %tr
        %td
          %code @media max-width: 768px
        %td Typically portrait tablet
      %tr
        %td
          %code @media max-width: 480px
        %td Typically landscape phones
      %tr
        %td
          %code @media max-width: 320px
        %td Typically portrait phones
  .notification.important.fade.in
    %p <strong>Note!</strong> Based on the design and needs of the application, you may need more queries put in place or less

#layouts_upgrades.sg-spy-landing
.sg-subsection
  %h3.sg-subheading Upgrade Messaging <span>upgrades.sass</span>
  .sg-half.pull
    %p Upgrade messaging is enabled if certain conditions are established by <a href="http://www.modernizr.com/">Modernizr</a>. Mainly it's testing for a certain threshold of Internet Explorer and if JavaScript is enabled. After clicking the test button, hover over the <span class="decal danger">!</span> icon to see the upgrade message.
  .sg-half.push
    .well
      %button.btn.primary#upgrade_test(href="#") Test Upgrade Message

