
- @palettes.each do |palette|
  .sg-subsection
    %h4=palette[:title]
    %table.box.banded.thead-decorate
      %thead
        %tr
          %th Swatch
          %th Variable
          %th Hex
      %tbody
        - palette[:colors].each do |color|
          %tr
            %td
              %span.sg-swatch(style="background-color:#{color[:hex]};")
            %td <code>#{color[:prop]}</code>
            %td <code>#{color[:hex]}</code>

