
.sg-subsection
  %h3.sg-subheading Links
  .well
    %p &raquo; <a href="http://dochub.io/">Dochub search for HTML, CSS, JavaScript, DOM, jQuery</a>
    %p &raquo; <a href="http://www.w3schools.com/html5/default.asp">W3 Schools, for tag definitions</a>
    %p &raquo; <a href="http://twitter.github.com/bootstrap/">Twitter's Bootstrap Library</a>
    %p &raquo; <a href="http://twitter.github.com/bootstrap/javascript.html">Twitter's Bootstrap JavaScript Library</a>
    %p &raquo; <a href="https://github.com/twitter/bootstrap">Twitter's Bootstrap Source Files</a>

