
#utils_helpers.sg-spy-landing
.sg-subsection
  %h3.sg-subheading Helpers <span>helpers.sass</span>
  %table.box.vborder.banded.thead-decorate
    %thead
      %tr
        %th Class
        %th Usage
    %tbody
      %tr
        %td <code>.clearfixer</code>
        %td The <a href="http://nicolasgallagher.com/micro-clearfix-hack/">micro clearfix</a> from Nicolas Gallagher
      %tr
        %td <code>.clearfix</code>
        %td The standard clearfix from <a href="http://compass-style.org/reference/compass/utilities/general/clearfix/#mixin-clearfix">Compass</a>
      %tr
        %td <code>.ir</code>
        %td For use in image replacement, typically on links
      %tr
        %td <code>.shown</code>
        %td The opposite of <code>hidden</code>, sets an element to <code>display:block</code> and <code>visibility:visible</code>
      %tr
        %td <code>.hidden</code>
        %td The opposite of <code>shown</code>, sets an element to <code>display:none</code> and <code>visibility:hidden</code>
      %tr
        %td <code>.visuallyhidden</code>
        %td Sets an element to only visually hidden, elements are still accessible
      %tr
        %td <code>.invisible</code>
        %td Keeps elements in the DOM, but hidden from view
      %tr
        %td <code>.pull-left</code>
        %td Floats an element to the left (<em>Gabe, your welcome</em>)
      %tr
        %td <code>.pull-right</code>
        %td Floats an element to the right (<em>may be renamed to: </em><code>.varela</code>)
      %tr
        %td <code>.base-column</code>
        %td For use by extension for <code>column</code> classes
      %tr
        %td <code>.base-column-right</code>
        %td For use by extension for <code>column</code> classes, floats elements to the right
      %tr
        %td <code>.base-row</code>
        %td For use by extension for <code>row</code> classes

#utils_transitions.sg-spy-landing
.sg-subsection
  %h3.sg-subheading Transitions <span>transitions.sass</span>
  %table.box.vborder.banded.thead-decorate
    %thead
      %tr
        %th Class
        %th Usage
    %tbody
      %tr
        %td <code>.fade</code>
        %td Transitions an element to an <code>opacity</code> of <code>0</code>
      %tr
        %td <code>.fade.in</code>
        %td Transitions an element to an <code>opacity</code> of <code>1</code>
      %tr
        %td <code>.collapse</code>
        %td Transitions an element to a <code>height</code> of <code>0</code>
      %tr
        %td <code>.collapse.in</code>
        %td Transitions an element to a <code>height</code> of <code>auto</code>

