
.container
  +clearfixer
  max-width: $base_width * 1px
  margin: 0 auto
  padding: 0 1%
  // margin: 0 5%

.container-fixed
  +clearfixer
  width: $base_width * 1px
  margin: 0 auto

.container-full
  +clearfixer
  margin: 0 auto
  padding: 0 1%

