
//~

// The main container for the upgrade notification
.upgrade-notifications
  color: $white
  font-weight: bold
  display: none
  position: absolute
  top: 0
  right: 0
  left: 0
  z-index: 99999

// Settings for block message
.upgrade-notifications .upgrade-notification
  background-color: $danger
  border: 1px solid darken($danger, 20%)
  font-size: 0.85em
  text-align: left
  padding: 0.75em

.upgrade-notifications .upgrade-close
  color: $white
  font-size: 1.3em
  display: block
  float: right
  margin-right: 1em

// Make the links readable
.upgrade-notifications .upgrade-notification a
  color: $white
  text-decoration: underline

// Default all message containers to be hidden
.upgrade-notifications .upgrade-container
  display: none

// Show the upgrade notifications if a condition is met
// Show the correct notification container
html.no-js .upgrade-notifications,
html.lt-ie8 .upgrade-notifications,
html.no-js .upgrade-notifications .no-js-msg,
html.lt-ie8 .upgrade-notifications .lt-ie8-msg
  display: block

