
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>{{{title}}} {{{page}}}</title>
    <meta name="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/assets/underoos.css" type="text/css">
    <link rel="stylesheet" href="sherpa.css" type="text/css">
  </head>

  <body id="{{{page}}}">
    <aside class="sherpa-sidebar">
      <nav>
        <a class="sherpa-brand" href="/">{{{title}}}</a>
        {{#nav}}
          <ul class="sherpa-dox-nav sherpa-nav-list">
            <li class="sherpa-nav-header">Documentation</li>
            {{{nav}}}
          </ul>
        {{/nav}}

      {{#aside}}
        <ul class="sherpa-anchor-nav sherpa-nav-list">
          {{{aside}}}
        </ul>
      {{/aside}}
      </nav>
    </aside>

    <section class="sherpa-wrapper sherpa-container sherpa-clearfix">

      <section class="sherpa-section sherpa-clearfix">
        <h1 class="sherpa-page-heading">{{{page}}}</h1>
      </section>

      {{{layout}}}
    </section>

    <footer class="sherpa-footer sherpa-container sherpa-clearfix">
      <p>&raquo; <a href="{{{repo}}}">Github Repository</a></p>
      <p>&raquo; <a href="https://www.pivotaltracker.com/projects/485221">Pivotal Tracker</a></p>
    </footer>

    <section class="upgrade-notifications">
      <a class="upgrade-close" data-dismiss="alert" href="#">×</a>
      <section class="upgrade-notification">
        <article class="lt-ie8-msg upgrade-container">
          <p>
            Please upgrade to the <a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie-9/worldwide-languages">latest version of Internet Explorer</a> or use one of the following browsers:
            <a href="http://www.google.com/chrome/">Google Chrome</a>, <a href="http://www.apple.com/safari/download/">Apple Safari</a>, or <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>
          </p>
        </article>
        <article class="no-js-msg upgrade-container">
          <p>For full functionality of this site it is necessary to enable <a href="http://www.enable-javascript.com/" target="_blank">JavaScript</a>.</p>
        </article>
      </section>
    </section>

    <script src="/assets/underoos.js"></script>
    <script src="/assets/docs.js"></script>
  </body>
</html>

