
.styleguide-h3 Flash Messaging
.styleguide-todo Add in Flash messaging

.styleguide-h3 Pagination
%nav.pagination
  %span.previous_page.disabled &laquo; previous
  %a(href="#") 1
  %em.current 2
  %a(href="#" rel="next") 3
  %a(href="#") 4
  %a(href="#") 5
  %span.gap ...
  %a(href="#") 11
  %a(href="#") 12
  %a.next_page(href="#" rel="next") next &raquo;

.styleguide-h3 Breadcrumb
%nav.breadcrumb
  %ul
    %li
      %a(href="#") Level 1
    %li
      %a(href="#") Level 2
    %li
      %a(href="#") Level 3
    %li.active Level 4

.styleguide-h3 Tabs
%nav.tabs
  %ul
    %li
      %a(href="#") Tab One
    %li.active
      %a(href="#") Tab Two
    %li
      %a(href="#") Tab Three
    %li
      %a(href="#") Tab Four
  %hr

%section(style="margin: 22px;")
  %h2 This is section content within the tab
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.styleguide-h3 Pills
%nav.pills
  %ul
    %li
      %a(href="#") Pill One
    %li.active
      %a(href="#") Pill Two
    %li
      %a(href="#") Pill Three
    %li
      %a(href="#") Pill Four

.styleguide-h3 Tool Tips
.styleguide-todo Style a tooltip
%p Lorem ipsum  <a href="#" rel="twipsy" data-original-title="I'm a tooltip!">tool tip</a> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

