
.styleguide-h3 Breadcrumb
.styleguide-quarter
  %p Apply the <code>.breadcrumb</code> class to <code>nav</code> elements to provide reference to nested sections within an application.
.styleguide-threequarter.indent
  .styleguide-well
    %nav.breadcrumb
      %ul
        %li
          %a(href="#") Level 1
        %li
          %a(href="#") Level 2
        %li
          %a(href="#") Level 3
        %li.active Active Level
.styleguide-clearfix

.styleguide-h3 Tabs
%nav.tabs
  %ul
    %li
      %a(href="#") Tab One
    %li.active
      %a(href="#") Tab Two
    %li
      %a(href="#") Tab Three
    %li
      %a(href="#") Tab Four
  %hr

  %section
    %h2 This is section content within the tab
    %p Apply the <code>.tabs</code> class to <code>nav</code> elements to represent tab navigation. Tabs can be used as page sub navigation or toggle between layers of content. To do this will require a bit of JavaScript. You might want to check out <a href="http://twitter.github.com/bootstrap/javascript.html#tabs">Bootstrap's Solution</a> for this, it's not included in this project. The first <code>section</code> descendant inside a tab area utilizes a margin to pull the content away from the tabs.

.styleguide-h3 Pills
.styleguide-quarter
  %p Pills are similar to tabs in their markup structure. Just change the class to <code>.pills</code> and you are set to go.
.styleguide-threequarter.indent
  .styleguide-well
    %nav.pills
      %ul
        %li
          %a(href="#") Pill One
        %li.active
          %a(href="#") Pill Two
        %li
          %a(href="#") Pill Three
        %li
          %a(href="#") Pill Four
.styleguide-clearfix

.styleguide-h3 Pagination
.styleguide-quarter
  %p Apply the <code>.pagination</code> class to <code>nav</code> elements to represent pagination navigation. The markup and styles for pagination are tuned to work with the <a href="https://github.com/mislav/will_paginate">will_paginate</a> ruby gem.
.styleguide-threequarter.indent
  .styleguide-well
    %nav.pagination
      %span.previous_page.disabled &laquo; previous
      %a(href="#") 1
      %em.current 2
      %a(href="#" rel="next") 3
      %a(href="#") 4
      %a(href="#") 5
      %span.gap ...
      %a(href="#") 11
      %a(href="#") 12
      %a.next_page(href="#" rel="next") next &raquo;
.styleguide-clearfix

.styleguide-h3 Modal
.styleguide-quarter
  %p Modals utilize <a href="http://twitter.github.com/bootstrap/javascript.html#modal">Bootstrap's Modal plugin</a>. You can control various options of how modals are shown based on attributes set in the link. Adding <code>data-autoshow="true"</code> to the <code>modal</code> layer will show the modal on page load.
.styleguide-threequarter.indent
  .styleguide-well
    %button.btn.important(data-toggle="modal" href="#modal") Launch Modal
  %pre
    = preserve do
      :escaped
        <!-- Example Modal Layer and Button -->
        %button(data-toggle="modal" href="#modal") Launch Modal

        #modal_name.modal.fade(data-backdrop="true" data-keyboard="true")
          %section
            %p This is section content
#modal.modal.fade(data-backdrop="true" data-keyboard="true")
  %header
    %h3 This is an H3 title tag
    %a.close(href="#") x
  %section
    %p This is section content
  %footer
    %button.btn(href="#") Secondary
    %button.btn.important(href="#") Primary
.styleguide-clearfix

.styleguide-h3 Tool Tips
.styleguide-quarter
  %p Tool tips utilize <a href="http://twitter.github.com/bootstrap/javascript.html#twipsy">Bootstrap's Twipsy plugin</a>. You can control various options of how a tool tip is shown based on attributes set in the link.
.styleguide-threequarter.indent
  %table.zebra.thead-decorate.tools(cellspacing="0")
    %thead
      %tr
        %th Position
        %th Markup
    %tbody
      %tr
        %td <a href="#" rel="tooltip" data-placement="top" data-original-title="Top">Top</a>
        %td <code>%a(rel="tooltip" data-placement="top" data-original-title="Top")</code>
      %tr
        %td <a href="#" rel="tooltip" data-placement="bottom" data-original-title="Bottom">Bottom</a>
        %td <code>%a(rel="tooltip" data-placement="bottom" data-original-title="Bottom")</code>
      %tr
        %td <a href="#" rel="tooltip" data-placement="left" data-original-title="Left">Left</a>
        %td <code>%a(rel="tooltip" data-placement="left" data-original-title="Left")</code>
      %tr
        %td <a href="#" rel="tooltip" data-placement="right" data-original-title="Right" data-offset="10">Right</a>
        %td <code>%a(rel="tooltip" data-placement="right" data-original-title="Right")</code>
.styleguide-clearfix

.styleguide-h3 Pop Overs
.styleguide-quarter
  %p Pop Overs utilize <a href="http://twitter.github.com/bootstrap/javascript.html#popover">Bootstrap's Pop Over plugin</a>. They are similar to the tool tip plugin and they require <a href="http://twitter.github.com/bootstrap/javascript.html#twipsy">Bootstrap's Twipsy plugin</a> to be included.
.styleguide-threequarter.indent
  %table.zebra.thead-decorate(cellspacing="0")
    %thead
      %tr
        %th Position
        %th Markup
    %tbody
      %tr
        %td <a href="#" rel="popover" data-placement="top" data-original-title="Top" data-content="This is a popover">Top</a>
        %td <code>%a(rel="popover" data-placement="top" data-original-title="Top" data-content="This is a popover")</code>
      %tr
        %td <a href="#" rel="popover" data-placement="bottom" data-original-title="Bottom" data-content="This is a popover">Bottom</a>
        %td <code>%a(rel="popover" data-placement="bottom" data-original-title="Bottom" data-content="This is a popover")</code>
      %tr
        %td <a href="#" rel="popover" data-placement="left" data-original-title="Left" data-content="This is a popover">Left</a>
        %td <code>%a(rel="popover" data-placement="left" data-original-title="Left" data-content="This is a popover")</code>
      %tr
        %td <a href="#" rel="popover" data-placement="right" data-original-title="Right" data-content="This is a popover">Right</a>
        %td <code>%a(rel="popover" data-placement="right" data-original-title="Right" data-content="This is a popover")</code>
.styleguide-clearfix

.styleguide-h3 Flash Messaging
.styleguide-quarter
  .styleguide-todo Add in Flash messaging
.styleguide-threequarter.indent
.styleguide-clearfix

.styleguide-h3 Inline Messaging
.styleguide-quarter
  %p Inline messages are generally displayed near the element they are related to (forms, buttons). They follow the same color pattern as flash messages.
  %br
  %p When inline messages are closed, they fade out and are then removed from the DOM.
  %br
  .styleguide-todo Change out the JavaScript to use a more natural close state.
.styleguide-threequarter.indent
  .well
    .inline-message.fade.in
      %p=@default_message
      %a.close(href="#" data-dismiss="alert") &times;
    .inline-message.info.fade.in
      %p=@notice_message
      %a.close(href="#" data-dismiss="alert") &times;
    .inline-message.important.fade.in
      %p=@important_message
      %a.close(href="#" data-dismiss="alert") &times;
    .inline-message.success.fade.in
      %p=@success_message
      %a.close(href="#" data-dismiss="alert") &times;
    .inline-message.warning.fade.in
      %p=@warning_message
      %a.close(href="#" data-dismiss="alert") &times;
    .inline-message.alert.fade.in
      %p=@alert_message
      %a.close(href="#" data-dismiss="alert") &times;
    .inline-message.danger.fade.in
      %p=@error_message
      %a.close(href="#" data-dismiss="alert") &times;

.styleguide-clearfix

.styleguide-h3 Block Messaging
.styleguide-quarter
  %p Block messages generally contain a longer message as well as a call to action that may be required by the application. These elements have muted backgrounds compared to their inline message counterparts.
  %br
  %p When block messages are closed, they fade out and are then removed from the DOM.
  %br
  .styleguide-todo Change out the JavaScript to use a more natural close state.
.styleguide-threequarter.indent
  .well
    .block-message.fade.in
      %header
        %h3 Default Message
      %section
        %p=@lorem_sm
      %footer
        %button.btn(href="#") Button
      %a.close(href="#" data-dismiss="alert") &times;
    .block-message.info.fade.in
      %header
        %h3 Info Message
      %section
        %p=@lorem_sm
      %footer
        %button.btn(href="#") Button
      %a.close(href="#" data-dismiss="alert") &times;
    .block-message.important.fade.in
      %header
        %h3 Important Message
      %section
        %p=@lorem_sm
      %footer
        %button.btn(href="#") Button
      %a.close(href="#" data-dismiss="alert") &times;
    .block-message.success.fade.in
      %header
        %h3 Success Message
      %section
        %p=@lorem_sm
      %footer
        %button.btn(href="#") Button
      %a.close(href="#" data-dismiss="alert") &times;
    .block-message.warning.fade.in
      %header
        %h3 Warning Message
      %section
        %p=@lorem_sm
      %footer
        %button.btn(href="#") Button
      %a.close(href="#" data-dismiss="alert") &times;
    .block-message.alert.fade.in
      %header
        %h3 Alert Message
      %section
        %p=@lorem_sm
      %footer
        %button.btn(href="#") Button
      %a.close(href="#" data-dismiss="alert") &times;
    .block-message.danger.fade.in
      %header
        %h3 Danger Message
      %section
        %p=@lorem_sm
      %footer
        %button.btn(href="#") Button
      %a.close(href="#" data-dismiss="alert") &times;

.styleguide-clearfix

