
.styleguide-h3 Flags
.styleguide-quarter
  %p Flags are used to <span class="flag important">pop</span> information in a <code>block</code> of text, they are generally used with <code>inline</code> elements.
.styleguide-threequarter.indent
  %table(cellspacing="0")
    %thead
      %tr
        %th Flag
        %th Markup
    %tbody
      %tr
        %td <span class="flag">Default</span>
        %td <code>%span.flag Default</code>
      %tr
        %td <span class="flag notice">Notice</span>
        %td <code>%span.flag.notice Notice</code>
      %tr
        %td <span class="flag important">Important</span>
        %td <code>%span.flag.important Important</code>
      %tr
        %td <span class="flag success">Success</span>
        %td <code>%span.flag.success Success</code>
      %tr
        %td <span class="flag warning">Warning</span>
        %td <code>%span.flag.warning Warning</code>
      %tr
        %td <span class="flag alert">Alert</span>
        %td <code>%span.flag.alert Alert</code>
      %tr
        %td <span class="flag error">Error</span>
        %td <code>%span.flag.error Error</code>
.styleguide-clearfix

.styleguide-h3 Stickers
.styleguide-quarter
  %p Stickers are similar to flags, except they are generally wrapped around <code>block</code> or <code>inline-block</code> level elements such as <code>headings</code>. Stickers add <code>display: inline-block</code> to their elements.
.styleguide-threequarter.indent
  %table(cellspacing="0")
    %thead
      %tr
        %th Sticker
        %th Markup
    %tbody
      %tr
        %td <h4 class="sticker">Standard</h4>
        %td <code>%h4.sticker Standard</code>
      %tr
        %td <h4 class="sticker notice">Notice</h4>
        %td <code>%h4.sticker.notice Notice</code>
      %tr
        %td <h4 class="sticker important">Important</h4>
        %td <code>%h4.sticker.important Important</code>
      %tr
        %td <h4 class="sticker success">Success</h4>
        %td <code>%h4.sticker.success Success</code>
      %tr
        %td <h4 class="sticker warning">Warning</h4>
        %td <code>%h4.sticker.warning Warning</code>
      %tr
        %td <h4 class="sticker alert">Alert</h4>
        %td <code>%h4.sticker.alert Alert</code>
      %tr
        %td <h4 class="sticker error">Error</h4>
        %td <code>%h4.sticker.error Error</code>
.styleguide-clearfix


.styleguide-h3 Buttons
.styleguide-quarter
  %h3 Standard Buttons
  %p The <code>.btn</code> style can be applied to <code>a</code>, <code>button</code>, and select <code>input</code> tags. To colorize a <code>.btn</code> style you can add the following classes:
  %br
  %p <code>.standard</code>, <code>.notice</code>, <code>.important</code>, <code>.success</code>, <code>.warning</code>, <code>.alert</code>, <code>.danger</code>
.styleguide-threequarter.indent
  .styleguide-well
    %button.btn(href="#") Button
    %button.btn.error(href="#") Button Error
    %button.btn(href="#" disabled) Button Disabled
    %a.btn(href="#") Link
    %a.btn.error(href="#") Link Error
    %a.btn.disabled(href="#") Link Disabled
    %br
    %br
    %button.btn.standard(href="#") Standard
    %button.btn.notice(href="#") Notice
    %button.btn.important(href="#") Important
    %button.btn.success(href="#") Success
    %button.btn.warning(href="#") Warning
    %button.btn.alert(href="#") Alert
    %button.btn.danger(href="#") Danger
    -# %br
    -# %br
    -# %button.btn.standard(href="#" disabled) Standard
    -# %button.btn.notice(href="#" disabled) Notice
    -# %button.btn.important(href="#" disabled) Important
    -# %button.btn.success(href="#" disabled) Success
    -# %button.btn.warning(href="#" disabled) Warning
    -# %button.btn.alert(href="#" disabled) Alert
    -# %button.btn.danger(href="#" disabled) Danger
    -# %br
    -# %br
    -# %button.btn.error.standard(href="#") Standard
    -# %button.btn.error.notice(href="#") Notice
    -# %button.btn.error.important(href="#") Important
    -# %button.btn.error.success(href="#") Success
    -# %button.btn.error.warning(href="#") Warning
    -# %button.btn.error.alert(href="#") Alert
    -# %button.btn.error.danger(href="#") Danger
.styleguide-clearfix
%br
%br

.styleguide-quarter
  %h3 Action Buttons
  %p The <code>.action</code> style can be applied to <code>a</code>, <code>button</code>, and select <code>input</code> tags. To colorize an <code>.action</code> style you can add the following classes:
  %br
  %p <code>.standard</code>, <code>.notice</code>, <code>.important</code>, <code>.success</code>, <code>.warning</code>, <code>.alert</code>, <code>.danger</code>
.styleguide-threequarter.indent
  .styleguide-well
    %button.action(href="#") Button
    %button.action.error(href="#") Button Error
    %button.action(href="#" disabled) Button Disabled
    %a.action(href="#") Link
    %a.action.error(href="#") Link Error
    %a.action.disabled(href="#") Link Disabled
    %br
    %br
    %button.action.standard(href="#") Standard
    %button.action.notice(href="#") Notice
    %button.action.important(href="#") Important
    %button.action.success(href="#") Success
    %button.action.warning(href="#") Warning
    %button.action.alert(href="#") Alert
    %button.action.danger(href="#") Danger
    -# %br
    -# %br
    -# %button.action.standard(href="#" disabled) Standard
    -# %button.action.notice(href="#" disabled) Notice
    -# %button.action.important(href="#" disabled) Important
    -# %button.action.success(href="#" disabled) Success
    -# %button.action.warning(href="#" disabled) Warning
    -# %button.action.alert(href="#" disabled) Alert
    -# %button.action.danger(href="#" disabled) Danger
    -# %br
    -# %br
    -# %button.action.error.standard(href="#") Standard
    -# %button.action.error.notice(href="#") Notice
    -# %button.action.error.important(href="#") Important
    -# %button.action.error.success(href="#") Success
    -# %button.action.error.warning(href="#") Warning
    -# %button.action.error.alert(href="#") Alert
    -# %button.action.error.danger(href="#") Danger
.styleguide-clearfix

.styleguide-h3 Images
.styleguide-quarter
  %p Standard images using the <code>img</code> tag.
.styleguide-threequarter.indent
  .styleguide-well
    %img(src='http://lorempixum.com/160/90' alt='image')
.styleguide-clearfix

.styleguide-h3 Video
.styleguide-quarter
  %p Standard video, controls, and poster image utilizing the <code>video</code> tag.
.styleguide-threequarter.indent
  .styleguide-well
    %video(controls="" poster="http://lorempixum.com/320/180")
      %source(src="/path/to/myvideo.mp4" type="video/mp4; codecs=\"avc1.42E01E, mp4a.40.2\"")
      %source(src="/path/to/myvideo.ogv" type="video/ogg; codecs=\"theora, vorbis\"")
.styleguide-clearfix

.styleguide-h3 Progress &amp; Meter Bars
.styleguide-quarter
  %p The <code>meter</code> bar is used to indicate a scalar measurement within a known range, or a fractional value.
  %br
  %p The <code>progress</code> bar is used to represent the progress of a task.
.styleguide-threequarter.indent
  .styleguide-well
    %meter(min="0" max="100" value="50")
    %br
    %br
    %br
    %progress(min="0" max="100" value="50")
%cite * Progress and Meter Bars are not supported in all browsers.
.styleguide-clearfix

