
.styleguide-subsection Flags
%p Flags are used to <span class="flag important">pop</span> information in a block of text, they are always wrapped in span tags. Flags and flash messages generally follow the same color pattern and naming convention.
%br
%p <span class="flag">Default</span> | <span class="flag notice">Notice</span> | <span class="flag important">Important</span> | <span class="flag success">Success</span> | <span class="flag warning">Warning</span> | <span class="flag alert">Alert</span> | <span class="flag error">Error</span>
%br

.styleguide-subsection Stickers
%p Stickers are similar to flags, except they are wrapped around existing elements (<code>headings</code>, <code>dates</code>, <code>span</code>, etc.) and provide more breathing room via <code>inline-block</code>. They also follow the same color pattern and naming convention as flags and flash messages.
%br
%p <span class="sticker">Default</span> | <span class="sticker notice">Notice</span> | <span class="sticker important">Important</span> | <span class="sticker success">Success</span> | <span class="sticker warning">Warning</span> | <span class="sticker alert">Alert</span> | <span class="sticker error">Error</span>
%br

.styleguide-subsection Buttons
.styleguide-note Default: Button Tag / a.btn
%button(name="commit") Button
%button.error(name="commit") Button Error
%button(name="commit" disabled) Button Disabled
%a.btn(href="#") Link
%a.btn.error(href="#") Link Error
%a.btn.disabled(href="#") Link Disabled

.styleguide-clearfix
%br

.styleguide-note Flag Level Buttons, can be used with a.btn
%button.standard(name="commit") Standard
%button.notice(name="commit") Notice
%button.important(name="commit") Important
%button.success(name="commit") Success
%button.warning(name="commit") Warning
%button.alert(name="commit") Alert
%button.danger(name="commit") Danger
%button.important.error(href="#") Button Error
%button.important.disabled(href="#") Button Disabled

.styleguide-subsection Table Styles
%table(cellspacing="0")
  %caption Table Caption
  %thead
    %tr
      %th Table Header 1
      %th
        %a(href="#") Table Header 2 Link
      %th Table Header 3
      %th
        %a.ascending(href="#") Ascending
      %th
        %a.descending(href="#") Descending
  %tfoot
    %tr
      %td(colspan="5") This is the table footer it appears at the bottom of the table
  %tbody
    %tr
      %td Table Data - :nth-child(odd)
      %td
        %a(href="#") Data as a link
      %td Table Data
      %td One
      %td Three
    %tr
      %td Table Data - :nth-child(even)
      %td
        %a(href="#") Data as a link
      %td Table Data
      %td Two
      %td Two
    %tr
      %td Table Data - :nth-child(odd)
      %td
        %a(href="#") Data as a link
      %td Table Data
      %td Three
      %td One

.styleguide-subsection Media Styles
.styleguide-note favicon 16x16
%img(src='/favicon.ico' alt='favicon')
.styleguide-note apple touch icon 114x114
%img(src='/apple-touch-icon.png' alt='apple touch icon')
.styleguide-note apple startup image 320x460
%img(src='/startup.png' alt='startup image')
.styleguide-note Image
%img(src='http://lorempixum.com/150/150' alt='image')
.styleguide-note Video
%video(controls="" poster="http://lorempixum.com/320/240")
  %source(src="/path/to/myvideo.mp4" type="video/mp4; codecs=\"avc1.42E01E, mp4a.40.2\"")
  %source(src="/path/to/myvideo.ogv" type="video/ogg; codecs=\"theora, vorbis\"")
.styleguide-note Bars
%meter(min="0" max="100" value="50")
%label meter tag
%p
%progress(min="0" max="100" value="50")
%label progress tag

.styleguide-subsection UI Elements
.styleguide-todo Insert elements like buttons, sprites, icons, graphics etc...

