
.sg-subsection
  %h3.sg-subheading Buttons
  .sg-onethird.pull
    %p.sg-todo Add a description about buttons.
    %br
    %p links render different
    .well
      %button.btn(href="#") Button
      %a.btn(href="#") Link
      %button.btn.primary(href="#") Button
      %a.btn.primary(href="#") Link
    %p disabled states
    .well
      %button.btn(href="#" disabled) Button
      %a.btn.disabled(href="#") Link
      %button.btn.primary(href="#" disabled) Button
      %a.btn.primary.disabled(href="#") Link
    %p error states
    .well
      %button.btn.error(href="#") Button
      %a.btn.error(href="#") Link
      %button.btn.primary.error(href="#") Button
      %a.btn.primary.error(href="#") Link
    %p sizing
    .well
      %button.btn.small(href="#") Small
      %button.btn.large(href="#") Large
      %button.btn.primary.small(href="#") Small
      %button.btn.primary.large(href="#") Large
  .sg-twothird.push
    %table.box.thead-decorate
      %thead
        %tr
          %th Button
          %th Class
          %th Description
      %tbody
        %tr
          %td <button class="btn">Default</button>
          %td <code>.btn</code>
          %td The default button
        %tr
          %td <button class="btn info">Info</button>
          %td <code>.btn.info</code>
          %td The info button
        %tr
          %td <button class="btn important">Important</button>
          %td <code>.btn.important</code>
          %td The important button
        %tr
          %td <button class="btn success">Success</button>
          %td <code>.btn.success</code>
          %td The success button
        %tr
          %td <button class="btn warning">Warning</button>
          %td <code>.btn.warning</code>
          %td The warning button
        %tr
          %td <button class="btn alert">Alert</button>
          %td <code>.btn.alert</code>
          %td The alert button
        %tr
          %td <button class="btn danger">Danger</button>
          %td <code>.btn.danger</code>
          %td The danger button
        %tr
          %td <button class="btn primary">Primary</button>
          %td <code>.btn.primary</code>
          %td The primary button


.sg-subsection
  %h3.sg-subheading Images
  .sg-onethird.pull
    %p Standard images using the <code>img</code> tag.
  .sg-twothird.push
    .well
      %img(src="http://placehold.it/160x90" alt="image")
    .well
      %figure
        %img(src="http://placehold.it/160x90" alt="image")
        %figcaption The HTML <code>&lt;figure&gt;</code> tag is used for annotating illustrations, diagrams, photos, code listings, etc.


.sg-subsection
  %h3.sg-subheading Video
  .sg-onethird.pull
    %p Standard video, controls, and poster image utilizing the <code>video</code> tag.
  .sg-twothird.push
    .well
      %video(controls="" poster="http://placehold.it/320x180&text=Poster")
        %source(src="/path/to/myvideo.mp4" type="video/mp4; codecs=\"avc1.42E01E, mp4a.40.2\"")
        %source(src="/path/to/myvideo.ogv" type="video/ogg; codecs=\"theora, vorbis\"")

.sg-subsection
  %h3.sg-subheading Progress &amp; Meter Bars
  .sg-onethird.pull
    %p The <code>meter</code> bar is used to indicate a scalar measurement within a known range, or a fractional value.
    %br
    %p The <code>progress</code> bar is used to represent the progress of a task.
  .sg-twothird.indent
    .well
      %meter(min="0" max="100" value="50")
      %br
      %br
      %br
      %progress(min="0" max="100" value="50")
    %cite * Progress and Meter Bars are not supported in all browsers.

