
.sg-subsection
  %h3.sg-subheading Favicon 16x16
  .sg-onethird.pull
    %p.sg-todo Describe favicon
  .sg-twothird.push
    .well
      %img(src='/favicon.ico' alt='favicon')

.sg-subsection
  %h3.sg-subheading Apple touch icon 114x114
  .sg-onethird.pull
    %p.sg-todo Describe touch icon
  .sg-twothird.push
    .well
      %img(src='/apple-touch-icon.png' alt='apple touch icon')

.sg-subsection
  %h3.sg-subheading Apple startup image 320x460
  .sg-onethird.pull
    %p.sg-todo Describe startup image
  .sg-twothird.push
    .well
      %img(src='/startup.png' alt='startup image')

.sg-subsection
  %h3.sg-subheading UI Elements
  .sg-onethird.pull
    %p Sprites, icons, graphics, images auto generated from <code>public/images/*</code>
  .sg-twothird.push
    .well
      - @images.each do |image|
        - base = "#{File.basename(image)}"
        %p.sg-note(style="margin: 1.5em 0 1em 0;") #{image}
        %img(src="#{image}" alt="#{base}")

