
.styleguide-h3 Media Styles
.styleguide-note favicon 16x16
%img(src='/favicon.ico' alt='favicon')
.styleguide-note apple touch icon 114x114
%img(src='/apple-touch-icon.png' alt='apple touch icon')
.styleguide-note apple startup image 320x460
%img(src='/startup.png' alt='startup image')

.styleguide-h3 UI Elements
.styleguide-todo Insert elements like buttons, sprites, icons, graphics etc...

