
.styleguide-h3 Links
.styleguide-well
  %p
    %a(href="http://www.w3schools.com/html5/default.asp") W3 Schools, for tag definitions
  %p
    %a(href="http://www.quackit.com/html_5/tags/") Quackit, for more tag definitions
  %p
    %a(href="http://twitter.github.com/bootstrap/") Twitter's Bootstrap Library
  %p
    %a(href="http://twitter.github.com/bootstrap/javascript.html") Twitter's Bootstrap JavaScript Library
  %p
    %a(href="https://github.com/twitter/bootstrap") Twitter's Bootstrap Source Files

