
.styleguide-h3 Table Styles
%table(cellspacing="0")
  %caption Table Caption
  %thead
    %tr
      %th Table Header 1
      %th
        %a(href="#") Table Header 2 Link
      %th Table Header 3
      %th
        %a.ascending(href="#") Ascending
      %th
        %a.descending(href="#") Descending
  %tfoot
    %tr
      %td(colspan="5") This is the table footer it appears at the bottom of the table
  %tbody
    %tr
      %td Table Data - :nth-child(odd)
      %td
        %a(href="#") Data as a link
      %td Table Data
      %td One
      %td Three
    %tr
      %td Table Data - :nth-child(even)
      %td
        %a(href="#") Data as a link
      %td Table Data
      %td Two
      %td Two
    %tr
      %td Table Data - :nth-child(odd)
      %td
        %a(href="#") Data as a link
      %td Table Data
      %td Three
      %td One

