
// Utility classes for use with @extension, or just common items found in every project!

// Utilizes the `micro clearfix` on pseudo elements for clearing floats
.clearfixer
  +clearfixer

// Uses the standard clearfix of `overflow:hidden` found in Compass
.clearfix
  +clearfix

// Image replacement
.ir
  border: 0
  font: 0/0 a
  text-shadow: none
  color: transparent
  background-color: transparent

// Totally hidden from screen readers and browsers
.hidden
  display: none !important
  visibility: hidden

// Reverse the effects of hidden
.shown
  display: block
  visibility: visible

// Only visually hidden, still available to screen readers
.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  &.focusable:active,
  &.focusable:focus
    clip: auto
    height: auto
    margin: 0
    overflow: visible
    position: static
    width: auto

// Reverse the settings applied by `.visuallyhidden`
.visuallyshown
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

// Hide visually and from screenreaders, but maintain layout
.invisible
  visibility: hidden

// Gabe, your welcome.
.pull-left
  float: left
.pull-right
  float: right


// ### Base classes used for extension

// The base `column` settings, should be extended by all columns
.base-column
  +box-sizing(border-box)
  display: inline
  float: left

// An alternate base `column` which floats elements to the right
.base-column-right
  +box-sizing(border-box)
  display: inline
  float: right

// The base `row` settings, should be extended by all rows
.base-row
  +box-sizing(border-box)
  +clearfixer
  display: block

