
.sg-subsection
  %h3.sg-subheading Breadcrumbs
  .sg-onethird.pull
    %p Apply the <code>.breadcrumb</code> class to <code>nav</code> elements to provide reference to nested sections within an application.
  .sg-twothird.push
    .well
      %nav.breadcrumb
        %ol
          %li
            %a(href="#") Level 1
          %li
            %a(href="#") Level 2
          %li
            %a(href="#") Level 3
          %li.active Active Level

