
.sg-subsection
  %h3.sg-subheading Modals
  .sg-onethird.pull
    %p Modals utilize <a href="http://twitter.github.com/bootstrap/javascript.html#modal">Bootstrap's Modal plugin</a>. You can control various options of how modals are shown based on attributes set in the link. Adding <code>data-autoshow="true"</code> to the <code>modal</code> layer will show the modal on page load.
  .sg-twothird.push
    .well
      %button.btn.important(data-toggle="modal" href="#modal") Launch Modal
    %pre.prettyprint
      = preserve do
        :escaped
          <!-- Modal Trigger Button -->
          <button class="btn important" data-toggle="modal" href="#modal_name"></button>

          <!-- Modal Wrapper -->
          <div id="modal_name" class="modal fade" data-backdrop="true" data-keyboard="true">
            ...
          </div>
#modal.modal.fade(data-backdrop="true" data-keyboard="true")
  .pop-notification.info
    %header
      %h3.heading Pop Notification within a Modal
    %section
      %p=@lorem
    %footer.footer-right
      %button.btn.important(href="#") Action
      %button.btn.danger(href="#") Cancel
    %a.close(href="#" data-dismiss="modal") &times;

