
%thead
  %tr
    %th #
    %th Table Header
    %th
      %a.ascending(href="#") Ascending
    %th
      %a.descending(href="#") Descending
%tfoot
  %tr
    %td(colspan="4") This is the table footer it appears at the bottom of the table
%tbody
  %tr
    %td 1
    %td Table Data
    %td One
    %td Three
  %tr
    %td 2
    %td
      %a(href="#") Click me!
    %td Two
    %td Two
  %tr
    %td 3
    %td
      %a(href="#") Click me!
    %td Three
    %td One

