
$nagaricolor: #666;
$nagarihilite: #268BD2;
$nagaritodo: #D33682;
$nagariborder: 1px dotted $nagaricolor;
$nagarinavborder: 1px solid $nagaricolor;
$nagariboxcolor: rgba(211, 54, 130, 0.5);


.nagari {
  margin: 0 0 25px 0;

  .nagari-header,
  .nagari-section,
  .nagari-subsection,
  .nagari-note, .nagari-todo,
  .nagari-colorbox, .nagari-gridbox {
    -webkit-font-smoothing: antialiased;
    background: transparent;
    border: 0;
    color: $nagaricolor;
    font: 13px/1.231 sans-serif;
    font-weight: bold;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }

  .nagari-header {
    border-bottom: $nagarinavborder;
    font-size: 14px;
    height: 25px;
    margin-bottom: 50px;

    a, a:visited {
      color: $nagarihilite;
      margin-left: 15px;
      text-decoration: none;
    }
    a:hover, a:active {
      color: $nagaricolor;
    }
    span {
      color: $nagarihilite;
    }
  }

  .nagari-section {
    border-bottom: $nagariborder;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;

    a, a:visited {
      color: $nagaricolor;
      text-decoration: none;
    }
    a:hover, a.active {
      color: $nagarihilite;
    }
  }

  .nagari-subsection {
    border-top: $nagariborder;
    color: $nagarihilite;
    margin: 15px 0;
    text-transform: uppercase;
  }

  .nagari-content {
    margin: 25px 0 50px 0;
    overflow: hidden;
  }

  .nagari-content.expanded {
    display: block;
  }

  .nagari-content.collapsed {
    display: none;
  }

  .nagari-todo {
    color: $nagaritodo;
  }

  .nagari-row {
    display: inline-block;
  }

  .nagari-colorbox,
  .nagari-gridbox {
    display: inline;
    float: left;
    color: $nagaricolor;
    background-color: $nagariboxcolor;
    text-align: center;
  }

  .nagari-colorbox {
    font-size: 9px;
    width: 60px;
    padding-top: 50px;
  }

  .nagari-gridbox {
    line-height: 25px;
    height: 25px;
  }

  .nagari-clearfix {
    zoom: 1;

    &:before, &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }
  }
}
