
@mixin _underoos-box-settings() {
  background-color: rgba(211,54,130,0.50);
  color: #666;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  margin-bottom: 4px;
  text-align: center;
  overflow: hidden;
  &.alt {
    background-color: rgba(211,54,130,0.40);
  }
}

@mixin _underoos-column-box($i) {
  @include column($i);
  &:after {
    content: "#{column-width($i)}";
  }
}

@mixin _underoos-pull-box($i, $wv) {
  @include column-pull($i);
  &:after {
    content: "pull #{$wv}";
  }
}

@mixin _underoos-push-box($i, $wv) {
  @include column-push($i);
  &:after {
    content: "push #{$wv}";
  }
}

@mixin _underoos-full-box($i, $wv) {
  @include column-full($i);
  &:after {
    content: "full #{$wv}";
  }
}

@mixin _underoos-offset-box($i) {
  $_by: $columns - $i;
  @include column-offset($i, 0, $_by);
  &:after {
    content: "#{$i} x #{$_by} offset";
  }
}

// Define the layouts for testing columns..
@mixin _underoos-box-definition() {
  @for $i from 1 through $columns {
    $_gut_half: (column-width($i)) + ($gutter-width * .5);
    $_gut_full: (column-width($i)) + ($gutter-width);

    // Set the standard elements for viewing..
    // We need to render the settings again in case there are more than when we started
    ._underoos-col-#{$i}, ._underoos-pull-#{$i}, ._underoos-push-#{$i},
    ._underoos-full-#{$i}, ._underoos-offset-#{$i} {
      @include _underoos-box-settings();
    }

    // render standard columns..
    ._underoos-col-#{$i} {
      @include _underoos-column-box($i);
    }

    // render pull columns..
    ._underoos-pull-#{$i} {
      @include _underoos-pull-box($i, $_gut_half);
    }

    // render push columns..
    ._underoos-push-#{$i} {
      @include _underoos-push-box($i, $_gut_half);
    }

    // render full columns..
    ._underoos-full-#{$i} {
      @include _underoos-full-box($i, $_gut_full);
    }

    // render offset columns..
    ._underoos-offset-#{$i} {
      @include _underoos-offset-box($i);
    }
  }
}

._underoos-col-3,
._underoos-col-9 {
  overflow: hidden;
}

.row {
  @include row(9);
  background: blue;
}

.nested-03 {
  @include _underoos-box-settings;
  @include column(3, 0, 9);
  background-color: green;
}

.row-pull {
  @include row-pull(9);
  background: green;
}

.nested-pull-03 {
  @include _underoos-box-settings;
  @include column-pull(3, 0, 9);
  background-color: red;
}

.row-push {
  @include row-push(9);
  background: purple;
}

.nested-push-03 {
  @include _underoos-box-settings;
  @include column-push(3, 0, 9);
  background-color: yellow;
}

.row-full {
  @include row-full(9);
  background: orange;
}

.nested-full-03 {
  @include _underoos-box-settings;
  @include column-full(3, 0, 9);
  background-color: teal;
}

