
$sg_color: #666
$sg_hilite: #268bd2
$sg_link_normal: #268bd2
$sg_link_hover: #666
$sg_todo: #d33682
$sg_boxcolor: rgba(211, 54, 130, 0.5)

@mixin sg-clearfix
  zoom: 1
  &:before, &:after
    content: ""
    display: table
  &:after
    clear: both

// Clearfix it!
.styleguide-clearfix
  +sg-clearfix

// Apply basic resets on the containers
.styleguide-masthead,
.styleguide-header,
.styleguide-h1,
.styleguide-h2,
.styleguide-h3,
.styleguide-note,
.styleguide-todo,
.styleguide-colorbox
  background: transparent
  color: $sg_color
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  font-size: 14px
  font-weight: bold
  margin: 0
  outline: 0
  padding: 0
  vertical-align: baseline

// Navigation header
.styleguide-masthead
  +background(#222 linear-gradient(top, #333, #222) no-repeat)
  +box-shadow(0px 1px 4px rgba(0, 0, 0, 0.5), inset 0 -1px 0 rgba(0,0,0,0.8))
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  overflow: visible
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 40px
  z-index: 10000

  nav ul
    li
      display: inline
      a
        +inline-block
        color: $sg_link_normal
        padding: 11px 8px
        &:hover, &:active
          color: $sg_link_hover
        &.styleguide-title
          color: #eee
          &span
            color: $sg_link_normal
      &.active
        a, a:hover, a:active
          background: #000
          color: #eee

// Styleguide Elements and containers
.styleguide
  +sg-clearfix
  padding: 60px 0 30px
  border-bottom: 1px solid #ccc

  .styleguide-threequarter,
  .styleguide-twothird,
  .styleguide-half,
  .styleguide-onethird,
  .styleguide-quarter
    +sg-clearfix
    float: left
    &.right
      text-align: right
    &.indent
      margin-left: 5%

  .styleguide-threequarter
    width: 75%
    &.indent
      width: 70%

  .styleguide-twothird
    width: 67%
    &.indent
      width: 62%

  .styleguide-half
    width: 50%
    &.indent
      width: 45%

  .styleguide-onethird
    width: 33%
    &.indent
      width: 28%

  .styleguide-quarter
    width: 25%
    &.indent
      width: 20%

  .styleguide-well
    +sg-clearfix
    border: 1px solid #eaeaea
    margin-bottom: 20px
    padding: 20px

  .styleguide-header
    +sg-clearfix
    background-color: #eaeaea
    padding: 20px

  .styleguide-h1
    color: $sg_hilite
    font-size: 30px
    text-shadow: 0 1px 1px rgba(255,255,255,0.5)

  .styleguide-h2
    color: #666
    font-size: 26px

  .styleguide-h3
    +sg-clearfix
    border-top: 1px dotted #268bd2
    color: $sg_hilite
    font-size: 14px
    margin: 15px 0
    text-transform: uppercase

  .styleguide-todo
    color: $sg_todo

  .styleguide-colorbox
    background-color: $sg_boxcolor
    color: $sg_color
    display: inline
    float: left
    font-size: 9px
    padding-top: 50px
    text-align: center
    width: 60px

