
.accordion-group
  +border-radius($radii)
  border: 1px solid $component_border
  margin-bottom: 2px

.accordion-heading .accordion-toggle
  display: block
  padding: 0.75em 1em

.accordion-inner
  border-top: 1px solid $component_border
  padding: 0.75em 1em

