
//~
// Apply the `.breadcrumb` class to the `ol` or `ul` element to provide linkable
// references to nested sections within the application. Utilize a `span.divider`
// for separation of links. The list should contain the `.nav` class.
//
// Usage:
//    <nav>
//      <ol class="nav breadcrumb">
//        <li><a href="#">Level 1 <span class="divider">/</span></a></li>
//        <li><a href="#">Level 2 <span class="divider">/</span></a></li>
//        <li><a href="#">Level 3 <span class="divider">/</span></a></li>
//        <li class="active"><a href="#">Active</a></li>
//      </ol>
//    </nav>

.breadcrumb > li
  +inline-block
  color: $component_normal
  font-weight: bold

.breadcrumb > li > a
  color: $link_normal

.breadcrumb > li > a:hover,
.breadcrumb > li > a:active
  color: $link_hover

.breadcrumb > .active > a,
.breadcrumb > .active > a:hover
  color: $component_normal

.breadcrumb .divider
  padding: 0 0.25em
  color: $component_normal

