
.breadcrumb li
  display: inline
  font-weight: bold
  color: $component_normal
  &:after
    content: " /"
  &:last-child:after
    content: ""

.breadcrumb li > a,
.breadcrumb li > a:visited
  color: $link_normal

.breadcrumb li > a:hover,
.breadcrumb li > a:active
  color: $link_hover

.breadcrumb .active,
.breadcrumb .active > a
  color: $component_normal

