
nav.breadcrumb
  color: $breadcrumb_color
  font-weight: bold
  li
    display: inline
    &:after
      content: " /"
    &:last-child
      &:after
        content: ""
  li a
    +link-colors($breadcrumb_normal, $breadcrumb_hover, $breadcrumb_active, $breadcrumb_visited, $breadcrumb_focus)

  li.active
    color: $breadcrumb_active

