
//~
// Carets are used as icons for links.
// They are generally applied within `span` elements.
//
// Caret                             | Markup
// ----------------------------------|---------------------------
// <span class="caret"></span>       | `<span class="caret"></span>` or `class="caret south"`
// <span class="caret north"></span> | `<span class="caret north"></span>`
// <span class="caret east"></span>  | `<span class="caret east"></span>`
// <span class="caret west"></span>  | `<span class="caret west"></span>`

.caret
  +inline-block
  border-width: 4px
  border-style: solid
  border-color: $link_normal transparent transparent transparent
  width: 0
  height: 0
  vertical-align: top
  &.north
    border-color: transparent transparent $link_normal transparent
  &.south
    border-color: $link_normal transparent transparent transparent
  &.east
    border-color: transparent transparent transparent $link_normal
  &.west
    border-width: 5px
    border-color: transparent $link_normal transparent transparent
    margin-left: -5px
  &.split
    margin-left: 0
    @if $legacy-support-for-ie
      *vertical-align: auto

