
.caret
  border: 4px solid
  border-color: $link_normal transparent transparent transparent
  content: "\2193"
  text-indent: -999em
  display: inline-block
  vertical-align: top
  width: 0
  height: 0
  &.north
    border-color: transparent transparent $link_normal transparent
  &.south
    border-color: $link_normal transparent transparent transparent
  &.east
    border-color: transparent transparent transparent $link_normal
  &.west
    border-color: transparent $link_normal transparent transparent
  &.split
    margin-left: 0

.caret-east-west,
.caret-north-south
  border: 4px solid
  display: inline-block
  vertical-align: top
  width: 0
  height: 0
  &:after
    border: 4px solid
    content: ""
    display: block

.caret-east-west
  border-color: transparent $link_normal transparent transparent
  &:after
    margin: -4px 0 0 6px
    border-color: transparent transparent transparent $link_normal

.caret-north-south
  border-color: transparent transparent $link_normal transparent
  &:after
    margin: 6px 0 0 -4px
    border-color: $link_normal transparent transparent transparent

