
//~
// Use the close icon to dismiss modals and notifications.
//
// Coupled with Bootstrap's [alert](http://twitter.github.com/bootstrap/javascript.html#alerts)
// or [modal](http://twitter.github.com/bootstrap/javascript.html#modals) plugins, you can pass
// the `data-dismiss="modal|alert"` attribute to trigger dismissal.
//
// Close Icon                                | Markup
// ----------------------------------------- | ---------------------------
// <a class="close" href="#">&times;</a>     | `<a class="close" href="#">&times;</a>`
// <a class="close alt" href="#">&times;</a> | `<a class="close alt" href="#">&times;</a>` (_for use on darker backgrounds_)
//
// Notes:
// - **Pro Tip!** In your markup use `&times;` for the content of the close icon

.close
  +font-size(20)
  +opacity(0.3)
  float: right
  cursor: pointer
  color: $black
  font-weight: bold
  line-height: 1
  text-shadow: $text_drop_lite
  text-decoration: none !important
  &:visited, &:hover, &:active
    color: $black
  &:hover, &:active
    +opacity(0.5)

// The alternative is reversed white on black
.close.alt
  color: $white
  text-shadow: $text_drop_dark
  &:visited, &:hover, &:active
    color: $white

