
.decal
  +border-radius($radii)
  background-color: $standard
  font-size: 85%
  font-weight: bold
  text-transform: uppercase
  padding: .125em .5em
  &.info, &.important, &.success, &.warning,
  &.alert, &.danger, &.primary
    color: $white
  &.info
    background-color: $info
  &.important
    background-color: $important
  &.success
    background-color: $success
  &.warning
    background-color: $warning
  &.alert
    background-color: $alert
  &.danger
    background-color: $danger
  &.primary
    background-color: $primary

