
//~
// Apply the `data-toggle="dropdown"` attribute to a target link or button, then structure a dropdown navigation
// under a `ul.dropdown-menu`. Within the menu item, there should be a listing of links and optional dividers.
//
// Dropdown's utilize a `visuallyhidden` and `visuallyshown` technique rather than a `display: none|block`
// to allow screen readers to still discover the inner content.
//
// Dropdown's require [Bootstrap's Dropdown plugin](http://twitter.github.com/bootstrap/javascript.html#dropdowns).
//
// When the target link is floated right, the dropdown will automatically align it's dropdown menu accordingly.
// Dropdowns are designed to work with `tabs`, `pills`, `navbars`, `button-groups` and `split buttons`.
//
// For elements outside of a list, typically in stand alone buttons, utilize
// the `button-group` structure for creating dropdowns. Split button dropdowns
// allow an action on the left while the dropdown on the right can be used
// for contextual menu items.
//
// Notes:
// - **Pro Tip!** Add the `.drop-up` class to the `.dropdown-menu` to pop the menu above the target
// - **Pro Tip!** For split button dropdowns, add the `.split` class to the caret `<span>` to center within the button
//
// Usage:
//    <section class="button-toolbar">
//
//      <!-- Basic dropdown with typical menu structure -->
//      <nav class="button-group">
//        <ul class="nav">
//          <li class="dropdown">
//            <a href="#" data-toggle="dropdown">Dropdown<span class="caret"></span></a>
//            <ul class="dropdown-menu">
//              <li><a href="#">Subnav 1</a></li>
//              <li><a href="#">Subnav 2</a></li>
//              <li class="divider"></li>
//              <li><a href="#">Subnav 3</a></li>
//            </ul>
//          </li>
//        </ul>
//      </nav>
//
//      <!-- Button Dropdowns -->
//      <nav class="button-group">
//        <button class="btn dropdown-toggle" data-toggle="dropdown">Default<span class="caret"></span></button>
//        <ul class="dropdown-menu">
//          <li><a href="#">Subnav 1</a></li>
//          <li><a href="#">Subnav 2</a></li>
//        </ul>
//      </nav>
//      <nav class="button-group">
//        <button class="btn success dropdown-toggle" data-toggle="dropdown">Success<span class="caret"></span></button>
//        <ul class="dropdown-menu">
//          <li><a href="#">Subnav 1</a></li>
//          <li><a href="#">Subnav 2</a></li>
//        </ul>
//      </nav>
//      <nav class="button-group">
//        <button class="btn danger dropdown-toggle" data-toggle="dropdown">Danger Dropup<span class="caret"></span></button>
//        <ul class="dropdown-menu drop-up">
//          <li><a href="#">Subnav 1</a></li>
//          <li><a href="#">Subnav 2</a></li>
//        </ul>
//      </nav>
//
//      <!-- Split Button Dropdowns -->
//      <nav class="button-group">
//        <button class="btn important">Action</button>
//        <button class="btn important dropdown-toggle" data-toggle="dropdown"><span class="caret split"></span></button>
//        <ul class="dropdown-menu">
//          <li><a href="#">Subnav 1</a></li>
//          <li><a href="#">Subnav 2</a></li>
//        </ul>
//      </nav>
//      <nav class="button-group">
//        <button class="btn warning">Warning</button>
//        <button class="btn warning dropdown-toggle" data-toggle="dropdown"><span class="caret split"></span></button>
//        <ul class="dropdown-menu">
//          <li><a href="#">Subnav 1</a></li>
//          <li><a href="#">Subnav 2</a></li>
//        </ul>
//      </nav>
//    </section>

.dropdown
  position: relative

.dropdown-toggle:active,
.dropdown.open .dropdown-toggle
  outline: 0

.dropdown .caret
  margin: 0.5em 0 0 0.5em

.dropdown:hover .caret,
.dropdown.open .caret
  border-top-color: $link_hover

.dropdown-menu
  +visuallyhidden
  +box-shadow($drop_dark)
  background-clip: padding-box
  background-color: $body_bg
  border-radius: 0 0 $radii $radii
  list-style: none
  float: left
  top: 100%
  left: 0
  min-width: 160px
  z-index: $zindex_dropdown
  &.drop-up
    border-radius: $radii
    top: auto
    bottom: 100%

.dropdown-menu li > a
  color: $component_normal
  display: block
  padding: 0.3em 1em
  clear: both
  white-space: nowrap
  @if $legacy-support-for-ie
    *padding-left: 0

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover
  color: $component_active
  background-color: $component_bg_active

.dropdown-menu li > a:active,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover
  +box-shadow($inset_dark)

// Kinda like an hr
.dropdown-menu .divider
  background-color: $component_border
  border-bottom: 1px solid lighten($component_border, 15%)
  margin: 0.3em 1px
  height: 1px
  overflow: hidden

@if $legacy-support-for-ie
  .dropdown.open
    *z-index: $zindex_dropdown

// Open state for the dropdown
.dropdown.open .dropdown-toggle
  color: $link_hover

.dropdown.open .dropdown-menu,
.typeahead.dropdown-menu,
.button-group.open .dropdown-menu
  +visuallyshown
  display: block
  position: absolute
  clip: inherit
  border: 1px solid $component_border
  padding: 0.3em 0
  &.drop-up
    margin-bottom: 2px

.typeahead.dropdown-menu
  display: none

// Redeclare for specificity purposes
.pull-right .dropdown-menu
  left: auto
  right: 0

