
//~ Media Items
// Media items provide a simple way for showcasing images, video
// and other media items as static media or clickable links. Include
// a `.caption` element when an area is needed to describe the figure.
//
// The media grid contains some basic settings for layout, but a more
// structured layout is intended for the grid framework in use with
// the application.
//
// Notes:
// - **Pro Tip!** Define the column span class on the `<li>` for grid layouts
//
// Usage:
//    <nav>
//      <ul class="media-grid">
//        <li>
//          <figure class="media-item">
//            <img alt="alt" src="http://placehold.it/260x180">
//            <figcaption class="caption">
//              <h5>Media Item</h5>
//              <p>With a caption copy</p>
//              <footer style="margin-top:1.2em;">
//                <button class="btn">Action</button>
//              </footer>
//            </figcaption>
//          </figure>
//        </li>
//        <li>
//          <a class="media-item" href="#"><img alt="alt" src="http://placehold.it/260x180"></a>
//        </li>
//        <li>
//          <a class="media-item" href="#"><img alt="alt" src="http://placehold.it/260x180"></a>
//        </li>
//      </ul>
//    </nav>

.media-grid
  +box-sizing(border-box)
  +clearfixer
  list-style: none

.media-grid > li
  +box-sizing(border-box)
  float: left
  margin-bottom: 1em

.media-item
  +box-sizing(border-box)
  +box-shadow($drop_dark)
  border: 1px solid $component_border
  border-radius: $radii
  display: block
  line-height: 1
  padding: 0.3em

a.media-item:hover
  +box-shadow($focus_glow)
  border-color: $blue

.media-item > img
  display: block
  margin-left: auto
  margin-right: auto
  max-width: 100%

.media-item .caption
  padding: 1em

