
.modal-backdrop
  +transition(opacity $speed)
  background-color: $white
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: $zindex_modal_backdrop
  &.fade
    +opacity(0)

.modal-backdrop, .modal-backdrop.fade.in
  +opacity(0.8)

.modal
  display: none
  overflow: auto
  margin: -250px 0 0 -280px
  position: fixed
  top: 50%
  left: 50%
  width: 560px
  max-height: 500px
  z-index: $zindex_modal

.modal-open
  .dropdown-menu
    z-index: $zindex_modal + 10
  .dropdown.open
  *z-index: $zindex_modal + 10
  .popover, .tooltip
    z-index: $zindex_modal  +20

