
// All tabs, pills, lists should have the .nav abstract class applied to it

// Shared
.tabs, .pills
  +clearfixer

.tabs > li,
.pills > li
  float: left

.tabs > li > a,
.pills > li > a
  margin-right: .15em
  padding-left: .85em
  padding-right: .85em

.pills .active > a, .pills li > a:active,
.list .active > a, .list li > a:active,
.tabs.stacked .active > a, .tabs.stacked li > a:active
  +box-shadow($inset_dark)


// Tabs
.tabs
  border-bottom: 1px solid $component_border_alt
.tabs > li
  margin-bottom: -1px
.tabs > li > a
  +border-radius(4px 4px 0 0)
  border: 1px solid transparent
  padding-top: .65em
  padding-bottom: .65em
  text-shadow: $text_drop_lite
  &:hover
    background-color: $component_bg_hover
    border-color: $component_bg_hover $component_bg_hover $component_border_alt
.tabs > .active > a,
.tabs > .active > a:hover
  background-color: $body_bg
  border: 1px solid $component_border_alt
  border-bottom-color: transparent

// Pills
.pills > li > a
  +border-radius(4px)
  padding-top: .65em
  padding-bottom: .65em
  text-shadow: $text_drop_lite
  &:hover
    background-color: $component_bg_hover
.pills .active > a,
.pills .active > a:hover
  background-color: $component_bg_active
  color: $component_active
  text-shadow: $text_inset_dark

// Nav List
.list > li > a,
.list .nav-header
  padding: .3em 1em
  text-shadow: $text_drop_lite
.list > li > a:hover
  background-color: $component_bg_hover
.list .active > a,
.list .active > a:hover
  background-color: $component_bg_active
  color: $component_active
  text-shadow: $text_inset_dark
.list .nav-header
  display: block
  font-size: .75em
  font-weight: bold
  color: $component_normal
  text-transform: uppercase
.list > li + .nav-header
  margin-top: 1em

// Stacked Tabs and Pills
.stacked > li
  float: none
.nav-stacked > li > a
  margin-right: 0

// Stacked Tabs
.tabs.stacked
  border-bottom: 0
.tabs.stacked > li > a
  +border-radius(0)
  border: 1px solid $component_border_alt
.tabs.stacked > li:first-child > a
  +border-radius(4px 4px 0 0)
.tabs.stacked > li:last-child > a
  +border-radius(0 0 4px 4px)
.tabs.stacked > li > a:hover
  border-color: $component_border_alt
  z-index: 2
.tabs.stacked .active > a,
.tabs.stacked .active > a:hover
  background-color: $component_bg_active
  color: $component_active
  text-shadow: $text_inset_dark

// Stacked Pills
.pills.stacked > li > a
  margin-bottom: .15em

