
//~
// Typically used for application or page level navigation systems
// Navbars can contain just about any type of navigation component,
// search forms, button groups and drop downs.
//
// Navbars support responsive behavior, by adding a button with `data-toggle="collapse"
// data-target="#target_id"`. Add the corresponding class `.nav-collapse`
// and the id based on the target (`#target_id`) on the collapsable container.
// Make sure to utilize styles contained within the media queries as well.
//
// Notes:
// - **Pro Tip!** Add the `.fixed` class to the `.navbar` container to fix the navigation system to the top of the page
// - **Pro Tip!** For a responsive navbar, include [Bootstrap's Collapse plugin](http://twitter.github.com/bootstrap/javascript.html#collapse) and add the necessary elements to the structure
//
// Warnings:
// - **Warning!** It's a good idea to set a specific height for the navbar, this is not set in the default component
//
// Usage:
//    <div class="navbar">
//      <div class="navbar-inner">
//        <div class="container">
//          <a class="btn info btn-navbar" data-toggle="collapse" data-target="#collapse_example">
//            <span class="icon-bar"></span>
//            <span class="icon-bar"></span>
//            <span class="icon-bar"></span>
//          </a>
//          <a class="brand" href="#">Brand</a>
//          <nav class="nav-collapse" id="collapse_example">
//            <ul class="nav">
//              <li><a href="#">Link 1</a></li>
//              <li class="active"><a href="#">Link 2</a></li>
//              <li class="plain-text">Plain Text</li>
//              <li class="dropdown">
//                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown<span class="caret"></span></a>
//                <ul class="dropdown-menu">
//                  <li><a href="#">Subnav 1</a></li>
//                  <li><a href="#">Subnav 2</a></li>
//                </ul>
//              </li>
//            </ul>
//            <section class="pull-right">
//              <form class="form-search">
//                <ol>
//                  <li>
//                    <input class="search-query" name="test[searchbar]" placeholder="search" type="search">
//                    <button class="btn primary" type="submit">Go</button>
//                  </li>
//                </ol>
//              </form>
//              <ul class="nav">
//                <li class="dropdown">
//                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown<span class="caret"></span></a>
//                  <ul class="dropdown-menu">
//                    <li><a href="#">Subnav 1</a></li>
//                    <li><a href="#">Subnav 2</a></li>
//                  </ul>
//                </li>
//              </ul>
//            </section>
//          </nav>
//        </div>
//      </div>
//    </div>

.navbar
  overflow: visible

.navbar-inner
  +box-shadow($drop_dark)
  border-radius: $radii
  background-color: $standard
  font-weight: bold
  text-shadow: $text_drop_lite

.navbar-inner .nav
  display: block
  float: left
  position: relative
  left: 0

.navbar .nav > li
  display: block
  float: left

.navbar .nav > li > a
  float: none
  color: $link_normal
  padding: 1em 0.75em
  &:hover, &:active
    background-color: $component_bg_hover
    color: $link_hover

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .open > .dropdown-toggle,
.navbar .nav .active > .dropdown-toggle,
.navbar .nav .open.active > .dropdown-toggle
  +box-shadow($inset_dark)
  background-color: $primary
  color: $standard
  text-shadow: $text_inset_dark

// Shared inner elements
.navbar .brand,
.navbar .plain-text,
.navbar .button-group,
.navbar form
  display: block
  float: left

.navbar .brand,
.navbar .plain-text
  padding: 1em 0.75em

.navbar .brand
  color: $greyC

.navbar .button-group,
.navbar form
  margin: 0.6em 0.75em

// Dropdowns
.navbar .dropdown-menu
  font-weight: normal
  text-shadow: none

.navbar .nav .open.dropdown .caret,
.navbar .nav .active .caret
  border-top-color: $standard

// Fixed Navbar
.navbar.fixed
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: $zindex_navbar

.navbar.fixed .navbar-inner
  border-radius: 0

// Redeclare for specificity
.navbar .pull-right
  float: right

// Button for toggling navbar items in responsive layouts
.btn-navbar
  display: none
  float: right
  margin: 0.5em

.btn-navbar .icon-bar
  +box-shadow(0 1px 0 rgba($black, 0.25))
  background-color: $white
  display: block
  width: 18px
  height: 2px

.btn-navbar .icon-bar + .icon-bar
  margin-top: 3px

// Override the default collapsed state
.nav-collapse.collapse
  height: auto

