
// Base notification used for extension
.base-notification
  +border-radius(6px)
  +background-darken-border($standard)
  position: relative
  padding: .75em
  margin: 1em 0
  pre, code, kbd, samp
    background: none
    border: none
    padding: 0
    margin: 0
    color: inherit
  a
    text-decoration: underline
  header, footer, p
    padding-right: 1.2em
  header
    margin-bottom: 0.5em
  footer
    margin-top: 1.25em
    &.footer-right
      text-align: right
  .close
    position: absolute
    top: 7px
    right: 10px

// Main notification message
.notification
  @extend .base-notification
  text-shadow: $text_drop_lite
  &.info
    +background-darken-border(lighten($info, 20%))
  &.important
    +background-darken-border(lighten($important, 40%))
    color: $important
    .heading
      color: $important
  &.success
    +background-darken-border(lighten($success, 40%))
    color: $success
    .heading
      color: $success
  &.warning
    +background-darken-border(lighten($warning, 30%))
    color: darken($warning, 15%)
    .heading
      color: darken($warning, 15%)
  &.alert
    +background-darken-border(lighten($alert, 20%))
    color: darken($alert, 10%)
    .heading
      color: darken($alert, 10%)
  &.danger
    +background-darken-border(lighten($danger, 40%))
    color: $danger
    .heading
      color: $danger
  &.primary
    +background-darken-border(lighten($primary, 40%))
    color: $primary
    .heading
      color: $primary

// Pop Messages
.pop-notification
  @extend .base-notification
  +box-shadow($drop_dark, $inset_lite)
  color: $grey6
  text-shadow: $text_inset_lite
  &.info, &.important, &.success, &.warning, &.alert, &.danger, &.primary
    color: $white
    text-shadow: $text_inset_dark
    .heading
      color: $white
  &.info
    +background-darken-border($info)
  &.important
    +background-darken-border($important)
  &.success
    +background-darken-border($success)
  &.warning
    +background-darken-border($warning)
  &.alert
    +background-darken-border($alert)
  &.danger
    +background-darken-border($danger)
  &.primary
    +background-darken-border($primary)

