
//~
// Pills are similar to tabs, and follow the same markup structure as other
// navigation elements. Pills like other navigation elements require the
// `.nav` class for layout. Add `.nav .pills` to a `ul` or `ol` element.
//
// ##### Togglable Pills
// To utilize a drop dead simple version of hiding and showing content
// related to a pill navigation, utilize [Bootstrap's Tab plugin](http://twitter.github.com/bootstrap/javascript.html#tabs).
// The base structure of pills doesn't change, except to include a few more
// classes on the links and the `href` attribute the button will target.
//
// Usage:
//    <nav>
//      <ul class="nav pills">
//        <li class="active">
//          <a data-toggle="pill" href="#pill_one">Pill One</a>
//        </li>
//        <li>
//          <a data-toggle="pill" href="#pill_two">Pill Two</a>
//        </li>
//        <li class="dropdown">
//          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pill Three<span class="caret"></span></a>
//          <ul class="dropdown-menu">
//            <li>
//              <a data-toggle="pill" href="#pill_three-1">Subnav 1</a>
//            </li>
//            <li>
//              <a data-toggle="pill" href="#pill_three-2">Subnav 2</a>
//            </li>
//          </ul>
//        </li>
//      </ul>
//    </nav>
//    <!-- Pillable Content -->
//    <section class="pill-content" style="margin-top:1.25em;">
//      <article class="pill-pane active" id="pill_one">
//        <p>Pill <span class="decal primary">one</span> content</p>
//      </article>
//      <article class="pill-pane" id="pill_two">
//        <p>Pill <span class="decal primary">two</span> content</p>
//      </article>
//      <article class="pill-pane" id="pill_three-1">
//        <p>Pill <span class="decal primary">three</span>: subnav <span class="decal primary">1</span> content</p>
//      </article>
//      <article class="pill-pane" id="pill_three-2">
//        <p>Pill <span class="decal primary">three</span>: subnav <span class="decal primary">2</span> content</p>
//      </article>
//    </section>

//~
// #### Stacked Pills
// Stack pills by adding the class `.stacked` to the `.pills` element.
//
// Usage:
//    <nav>
//      <ul class="nav pills stacked">
//        <li class="active">
//          <a href="#">Pill One</a>
//        </li>
//        <li class="dropdown">
//          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pill Two<span class="caret"></span></a>
//          <ul class="dropdown-menu">
//            <li>
//              <a href="#">Subnav 1</a>
//            </li>
//            <li>
//              <a href="#">Subnav 2</a>
//            </li>
//          </ul>
//        </li>
//        <li>
//          <a href="#">Pill Three</a>
//        </li>
//      </ul>
//    </nav>

// Default Pills
.pills > li
  float: left
  margin-top: 0.3em

.pills > li > a
  border-radius: $radii
  margin-right: 0.15em
  padding: 0.4em 0.85em
  text-shadow: $text_drop_lite
  &:hover
    background-color: $component_bg_hover

.pills .active > a,
.pills li > a:active
  +box-shadow($inset_dark)

.pills .active > a,
.pills .active > a:hover
  background-color: $component_bg_active
  color: $component_active
  text-shadow: $text_inset_dark

// Stacked Pills
.pills.stacked > li
  float: none
  margin-top: 0

.pills.stacked > li > a
  margin: 0.14em 0

// Dropdown Pills
.pills .dropdown-menu
  margin-top: 1px

.pills .active .dropdown-toggle .caret
  border-top-color: $component_active

.pills .open .dropdown-toggle,
.pills .open.active > a:hover
  background-color: darken($component_bg_hover, 35%)
  border-color: $component_border
  color: $component_active
  text-shadow: none

.pills .open .caret,
.pills .open.active .caret,
.pills .open a:hover .caret
  border-top-color: $component_active

.pills.stacked .dropdown-menu
  border: none
  margin-top: 0
  max-width: none
  width: 100%

// Togglable pill panes
.pill-content > .pill-pane
  +visuallyhidden

.pill-content > .active
  +visuallyshown

@if $legacy-support-for-ie
  .pills.stacked .caret
    *margin-left: 0.5em

