
.popover
  display: none
  padding: 5px
  position: absolute
  top: 0
  left: 0
  min-width: 280px
  z-index: 1000
  &.top
    margin-top: -5px
  &.bottom
    margin-top: 5px
  &.left
    margin-left: -5px
  &.right
    margin-left: 5px
  &.top .arrow
    +arrow_south(5px, invert($body_bg))
  &.bottom .arrow
    +arrow_north(5px, invert($body_bg))
  &.left .arrow
    +arrow_east(5px, invert($body_bg))
  &.right .arrow
    +arrow_west(5px, invert($body_bg))
  .arrow
    position: absolute
    width: 0
    height: 0

.popover-inner
  +border-radius($radii + .1em)
  +box-shadow($drop_dark)
  overflow: hidden
  background-color: $body_bg
  border: 1px solid $component_border

.popover-title
  $radiix: $radii + .1em
  +background-clip(padding-box)
  +border-radius($radiix $radiix 0 0)
  +font-sizes(16)
  background-color: $component_bg_hover
  border-bottom: 1px solid $component_border_alt
  padding: 0.625em 1em
  line-height: 1

.popover-content
  $radiix: $radii + .1em
  +background-clip(padding-box)
  +border-radius(0 0 $radiix $radiix)
  padding: 1em

