
nav.tabs

  ul
    +clearfix
    font-weight: bold
    font-size: 16px
    margin: 0 20px

  li
    float: left
    margin: 0 2px 0 0

  li a
    +border-radius(12px 12px 0px 0px)
    -webkit-background-clip: padding-box
    background: $tabs_bg
    border-bottom: none
    border: 1px solid $tabs_border
    color: $tabs_normal_color
    float: left
    padding: 10px 40px
    &:hover
      background: $tabs_hover_bg
      border-color: $tabs_hover_border
      color: $tabs_hover_color

  li.active a
    background: $tabs_active_bg
    border-bottom: 1px solid $tabs_active_border
    color: $tabs_active_color
    cursor: default
    &:hover
      background: $tabs_active_bg
      border-color: $tabs_border
      border-bottom-color: $tabs_active_bg
      color: $tabs_active_color

  hr
    border-color: $tabs_border
    margin-top: -1px

  & > section
    margin: 22px

