
// Import what's necessary
@import settings/config
@import settings/theme
@import mixins/clearfixins
@import mixins/timing-equations

// Nav Bar
.sg-navbar .dropdown .caret
  margin-left: 0.25em
.sg-navbar .brand
  float: right

// Containers
.sg-spy-landing
  height: 2em

.sg-section, .sg-subsection
  +clearfixer

.sg-section
  border-bottom: 1px solid $hr_color
  padding: 3em 0 1.875em

.sg-subsection
  margin: 1.75em 0 0

.sg-threequarter, .sg-half, .sg-quarter,
.sg-twothird, .sg-onethird
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  display: block
  float: left
  margin-left: 2%
  margin-right: 2%
  &.pull
    margin-left: 0
  &.push
    margin-right: 0
.sg-threequarter
  width: 71%
  &.pull, &.push
    width: 73%
.sg-half
  width: 46%
  &.pull, &.push
    width: 48%
.sg-quarter
  width: 21%
  &.pull, &.push
    width: 23%
.sg-twothird
  width: 63%
  &.pull, &.push
    width: 65%
.sg-onethird
  width: 29%
  &.pull, &.push
    width: 31%

// Text items
.sg-heading
  color: $primary
  text-shadow: $text_drop_lite
  line-height: 1.4

.sg-subheading
  border-bottom: 1px solid $greyC
  line-height: 1.4
  margin-bottom: 1em
  & span
    color: $greyC
    float: right
    font-size: 0.5em
    margin-top: 1.5em

.sg-note, .sg-todo
  font-weight: bold

.sg-note
  color: $grey6

.sg-todo
  color: lighten($magenta, 20%)
  font-style: italic

.sg-swatch
  background-color: $magenta
  border-radius: $radii
  display: inline-block
  vertical-align: middle
  width: 30px
  height: 20px

// Transition demo

@mixin _tranny-settings($prop, $timing)
  -webkit-transition-property: $prop
  -moz-transition-property: $prop
  -ms-transition-property: $prop
  -o-transition-property: $prop
  transition-property: $prop
  -webkit-transition-duration: $timing
  -moz-transition-duration: $timing
  -ms-transition-duration: $timing
  -o-transition-duration: $timing
  transition-duration: $timing

@mixin _tranny-timing($type)
  -webkit-transition-timing-function: $type
  -moz-transition-timing-function: $type
  -ms-transition-timing-function: $type
  -o-transition-timing-function: $type
  transition-timing-function: $type

.sg-tranny-demo
  cursor: pointer
  & td
    padding: 0.2em

.sg-tranny-demo:hover .sg-swatch
  $_pos: 500px
  -webkit-transform: translateX($_pos)
  -moz-transform: translateX($_pos)
  -ms-transform: translateX($_pos)
  -o-transform: translateX($_pos)
  transform: translateX($_pos)

.sg-tranny-demo li
  margin-bottom: 0.25em

.sg-tranny-demo .prop
  width: 20%

.sg-tranny-demo .sg-swatch
  +_tranny-settings(all, 1.5s)
  background-color: $primary
  &.ease-in-quad
    +_tranny-timing($ease-in-quad)
  &.ease-in-cubic
    +_tranny-timing($ease-in-cubic)
  &.ease-in-quart
    +_tranny-timing($ease-in-quart)
  &.ease-in-quint
    +_tranny-timing($ease-in-quint)
  &.ease-in-sine
    +_tranny-timing($ease-in-sine)
  &.ease-in-expo
    +_tranny-timing($ease-in-expo)
  &.ease-in-circ
    +_tranny-timing($ease-in-circ)
  &.ease-in-back
    +_tranny-timing($ease-in-back)
  &.ease-out-quad
    +_tranny-timing($ease-out-quad)
  &.ease-out-cubic
    +_tranny-timing($ease-out-cubic)
  &.ease-out-quart
    +_tranny-timing($ease-out-quart)
  &.ease-out-quint
    +_tranny-timing($ease-out-quint)
  &.ease-out-sine
    +_tranny-timing($ease-out-sine)
  &.ease-out-expo
    +_tranny-timing($ease-out-expo)
  &.ease-out-circ
    +_tranny-timing($ease-out-circ)
  &.ease-out-back
    +_tranny-timing($ease-out-back)
  &.ease-in-out-quad
    +_tranny-timing($ease-in-out-quad)
  &.ease-in-out-cubic
    +_tranny-timing($ease-in-out-cubic)
  &.ease-in-out-quart
    +_tranny-timing($ease-in-out-quart)
  &.ease-in-out-quint
    +_tranny-timing($ease-in-out-quint)
  &.ease-in-out-sine
    +_tranny-timing($ease-in-out-sine)
  &.ease-in-out-expo
    +_tranny-timing($ease-in-out-expo)
  &.ease-in-out-circ
    +_tranny-timing($ease-in-out-circ)
  &.ease-in-out-back
    +_tranny-timing($ease-in-out-back)

// Media Queries specific for the guide
@media (max-width: 889px)
  .sg-navbar .brand
    float: left

@media (max-width: 480px)
  .sg-threequarter, .sg-half, .sg-quarter,
  .sg-twothird, .sg-onethird
    float: none
    margin-left: 0
    margin-right: 0
    width: 98%

