
.sg-subsection
  %h3.sg-subheading Accordions <span>accordions.sass</span>
  %p(style="width:67%;") The accordion navigation system requires <a href="http://twitter.github.com/bootstrap/javascript.html#collapse">Bootstrap's Collapse plugin</a>. They're used typically in navigation systems to toggle and reveal sections of content.
  %br
  %p(style="width:67%;") Accordions support multiple open sections or just single sections based on the <code>data</code> attributes set within the links.

.sg-subsection
  %nav
    %ul#accordion_example
      %li.accordion-group
        %a.accordion-toggle(href="#collapse_1" data-toggle="collapse" data-parent="#accordion_example") Accordion Group 1
        %section.collapse#collapse_1
          %article.accordion-inner
            %p=@lorem
      %li.accordion-group
        %a.accordion-toggle(href="#collapse_2" data-toggle="collapse" data-parent="#accordion_example") Accordion Group 2
        %section.collapse#collapse_2
          %article.accordion-inner
            %p=@lorem
      %li.accordion-group
        %a.accordion-toggle(href="#collapse_3" data-toggle="collapse" data-parent="#accordion_example") Accordion Group 3
        %section.collapse#collapse_3
          %article.accordion-inner
            %p=@lorem


.sg-subsection
  %pre.prettyprint.html
    = preserve do
      :escaped
        <nav>
          <ul id="accordion_example">
            <li class="accordion-group">
              <a class="accordion-toggle" data-parent="#accordion_example" data-toggle="collapse" href="#collapse_1">Accordion Group 1</a>
              <section class="collapse" id="collapse_1"">
                <article class="accordion-inner">
                  <p>...</p>
                </article>
              </section>
            </li>
            <li class="accordion-group">
              <a class="accordion-toggle" data-parent="#accordion_example" data-toggle="collapse" href="#collapse_2">Accordion Group 2</a>
              <section class="collapse" id="collapse_2"">
                <article class="accordion-inner">
                  <p>...</p>
                </article>
              </section>
            </li>
            <li class="accordion-group">
              <a class="accordion-toggle" data-parent="#accordion_example" data-toggle="collapse" href="#collapse_3">Accordion Group 3</a>
              <section class="collapse" id="collapse_3"">
                <article class="accordion-inner">
                  <p>...</p>
                </article>
              </section>
            </li>
          </ul>
        </nav>
  %pre.prettyprint.haml.hidden
    = preserve do
      :escaped
        %nav
          %ul#accordion_example
            %li.accordion-group
              %a.accordion-toggle(href="#collapse_1" data-toggle="collapse" data-parent="#accordion_example") Accordion Group 1
              %section.collapse#collapse_1
                %article.accordion-inner
                  %p ...
            %li.accordion-group
              %a.accordion-toggle(href="#collapse_2" data-toggle="collapse" data-parent="#accordion_example") Accordion Group 2
              %section.collapse#collapse_2
                %article.accordion-inner
                  %p ...
            %li.accordion-group
              %a.accordion-toggle(href="#collapse_3" data-toggle="collapse" data-parent="#accordion_example") Accordion Group 3
              %section.collapse#collapse_3
                %article.accordion-inner
                  %p ...

  .notification.important.fade.in
    %p <strong>Note!</strong> Remove the <code>data-parent</code> attribute from the links to have multiple sections open at the same time

