
.sg-subsection
  %h3.sg-subheading Breadcrumbs <span>breadcrumbs.sass</span>
  .sg-onethird.pull
    %p Apply the <code>.breadcrumb</code> class to the <code>ol</code> or <code>ul</code> element to provide linkable references to nested sections within the application.
  .sg-twothird.push
    .well
      %nav
        %ol.nav.breadcrumb
          %li
            %a(href="#")Level 1<span class="divider">/</span>
          %li
            %a(href="#")Level 2<span class="divider">/</span>
          %li
            %a(href="#")Level 3<span class="divider">/</span>
          %li.active
            %a(href="#")Active Level
    %pre.prettyprint.html
      = preserve do
        :escaped
          <nav>
            <ol class="nav breadcrumb">
              <li><a href="#">Level 1</a><span class="divider">/</span></li>
              <li><a href="#">Level 2</a><span class="divider">/</span></li>
              <li><a href="#">Level 3</a><span class="divider">/</span></li>
              <li class="active"><a href="#">Active</a></li>
            </ol>
          </nav>
    %pre.prettyprint.haml.hidden
      = preserve do
        :escaped
          %nav
            %ol.nav.breadcrumb
              %li
                %a(href="#")Level 1<span class="divider">/</span>
              %li
                %a(href="#")Level 2<span class="divider">/</span>
              %li
                %a(href="#")Level 3<span class="divider">/</span>
              %li.active
                %a(href="#")Active Level

