
.sg-subsection
  %h3.sg-subheading Button Groups
  .sg-onethird.pull
    %p.sg-todo Describe this
  .sg-twothird.push
    .well
      %nav.btn-group
        %a.btn.primary(href="#") Left
        %a.btn.primary.active(href="#") Middle 1
        %a.btn.primary(href="#") Middle 2
        %a.btn.primary(href="#") Right

    .well
      %section.btn-toolbar
        %nav.btn-group
          %a.btn(href="#") 1
          %a.btn(href="#") 2
          %a.btn(href="#") 3
        %nav.btn-group
          %a.btn(href="#") 4
          %a.btn.active(href="#") 5
          %a.btn(href="#") 6
        %nav.btn-group
          %a.btn(href="#") 7

