
.sg-subsection
  %h3.sg-subheading Button Groups <span>button-groups.sass</span>
.sg-subsection
  .sg-onethird.pull
    %h4 Button group
    %p Button groups are used to join multiple buttons together as one composite component.
  .sg-twothird.push
    .well
      %nav.button-group(data-toggle="buttons-checkbox")
        %a.btn.primary(href="#") Left
        %a.btn.primary.active(href="#") Middle 1
        %a.btn.primary(href="#") Middle 2
        %a.btn.primary(href="#") Right
    %pre.prettyprint
      = preserve do
        :escaped
          <nav class="button-group">
            <a class="btn" href="#">Left</a>
            <a class="btn active" href="#">Middle 1</a>
            <a class="btn" href="#">Middle 2</a>
            <a class="btn" href="#">Right</a>
          </nav>

.sg-subsection
  .sg-onethird.pull
    %h4 Button toolbar
    %p Combine multiple <code>.button-group</code> elements under a <code>.button-toolbar</code> container to form navigation system.
  .sg-twothird.push
    .well
      %section.button-toolbar
        %nav.button-group
          %a.btn(href="#") 1
          %a.btn(href="#") 2
          %a.btn(href="#") 3
        %nav.button-group
          %a.btn(href="#") 4
          %a.btn.active(href="#") 5
          %a.btn(href="#") 6
        %nav.button-group
          %a.btn(href="#") 7
    %pre.prettyprint
      = preserve do
        :escaped
          <section class="button-toolbar">
            <nav class="button-group">
              ...
            </nav>
            <nav class="button-group">
              ...
            </nav>
            <nav class="button-group">
              ...
            </nav>
          </section>
    .notification.important.fade.in
      %p <strong>Note!</strong> When creating custom buttons, add the necessary overrides within <code>_button-groups.sass</code>

.sg-subsection
  .sg-onethird.pull
    %h4 Button states
    %p Control a button state or entire button groups state using Bootstrap's <a href="http://twitter.github.com/bootstrap/javascript.html#buttons">Button plugin</a>.
    %br
    %p A stateful button can be used for tasks like submitting a form. It disables a button and waits for a callback to either <code>reset</code> or populate the button's text with the value found in <code>data-complete-text</code>.
    %br
    %pre.prettyprint
      = preserve do
        :escaped
          $('#btn').on('click', function(e) {
            var btn = $(this)
            btn.button('loading')
            setTimeout(function() {
            // set text to data-complete-text
             btn.button('complete')
            // reset text to original value
            // btn.button('reset')
            }, 3000)
          })
  .sg-twothird.push
    %table.box.banded.thead-decorate
      %thead
        %tr
          %th State
          %th Usage
      %tbody
        %tr
          %td
            %button.btn.important(data-toggle="button") Toggle
          %td Toggles active state on a single button
        %tr
          %td
            %nav.button-group(data-toggle="buttons-checkbox")
              %a.btn.primary(href="#") 1
              %a.btn.primary(href="#") 2
              %a.btn.primary(href="#") 3
          %td Treats button group states similar to checkboxes
        %tr
          %td
            %nav.button-group(data-toggle="buttons-radio")
              %a.btn.primary(href="#") 4
              %a.btn.primary(href="#") 5
              %a.btn.primary(href="#") 6
          %td Treats button group states similar to radio buttons
        %tr
          %td
            %button#loader_btn.btn.important(data-loading-text="sending..." data-complete-text="Sent") Send
          %td Disables a button as information is being sent, resets on callback

    %pre.prettyprint
      = preserve do
        :escaped
          <!-- Toggle -->
          <button class="btn" data-toggle="button">Toggle</button>

          <!-- Checkbox type button group -->
          <nav class="button-group" data-toggle="buttons-checkbox">
            ...
          </nav>

          <!-- Radio type button group -->
          <nav class="button-group" data-toggle="buttons-radio">
            ...
          </nav>

          <!-- Stateful -->
          <button data-loading-text="sending..." data-complete-text="Sent">Send</button>

