
.sg-subsection
  %h3.sg-subheading Close <span>close.sass</span>
  %p.sg-twothird.pull Use the close icon to dismiss modals and notifications. Coupled with Bootstrap's <a href="http://twitter.github.com/bootstrap/javascript.html#alerts">alert</a> or <a href="http://twitter.github.com/bootstrap/javascript.html#modals">modal</a> plugins, you can pass the <code>data-dismiss="modal|alert"</code> attribute to trigger dismissal.
.sg-subsection
  %table.box.banded.thead-decorate
    %thead
      %tr
        %th Icon
        %th Markup
    %tbody
      %tr
        %td <a class="close" style="float:none;" href="#">&times;</a>
        %td <code>&lt;a class="close" href="#"&gt;&times;&lt;/a&gt;</code>
      %tr(style="background-color:#333;")
        %td <a class="close alt" style="float:none;" href="#">&times;</a>
        %td <code>&lt;a class="close alt" href="#"&gt;&times;&lt;/a&gt;</code>

