
.sg-subsection
  %h3.sg-subheading Decals
  %p(style="width:50%;") Decals are used to <span class="decal important">pop</span> information in a block of text. They are typically used with <code>inline</code> elements and wrapped in a <code>span</code> element.
.sg-subsection
  %table.box.thead-decorate
    %thead
      %tr
        %th Decal
        %th Markup
    %tbody
      %tr
        %td <span class="decal">Default</span>
        %td <code>&lt;span class="decal"&gt;Default&lt;/span&gt;</code>
      %tr
        %td <span class="decal info">Info</span>
        %td <code>&lt;span class="decal info"&gt;Info&lt;/span&gt;</code>
      %tr
        %td <span class="decal important">Important</span>
        %td <code>&lt;span class="decal important"&gt;Important&lt;/span&gt;</code>
      %tr
        %td <span class="decal success">Success</span>
        %td <code>&lt;span class="decal success"&gt;Success&lt;/span&gt;</code>
      %tr
        %td <span class="decal warning">Warning</span>
        %td <code>&lt;span class="decal warning"&gt;Warning&lt;/span&gt;</code>
      %tr
        %td <span class="decal alert">Alert</span>
        %td <code>&lt;span class="decal alert"&gt;Alert&lt;/span&gt;</code>
      %tr
        %td <span class="decal danger">Danger</span>
        %td <code>&lt;span class="decal danger"&gt;Danger&lt;/span&gt;</code>
      %tr
        %td <span class="decal primary">Primary</span>
        %td <code>&lt;span class="decal primary"&gt;Primary&lt;/span&gt;</code>

