
.sg-subsection
  %h3.sg-subheading Media <span>media.sass</span>

.sg-subsection
  .sg-half.pull
    %h4 Media grid
    %p Media items within a grid, provide a simple way for showcasing images, video and other media items.
  .sg-half.push
    %h4 Media item
    %p With some additional markup, it's simple to create more complex media containers to showcase more information.

.sg-subsection
  .sg-half.pull
    .well
      %nav
        %ul.media-grid
          -(1..4).each do |media|
            %li.sg-half
              %a.media-item(href="#")
                %img(src="http://placehold.it/260x180" alt="alt")
    %pre.prettyprint.html
      = preserve do
        :escaped
          <nav>
            <ul class="media-grid">
              <li class="col-half">
                <a class="media-item" href="#">
                  <img alt="alt" src="http://placehold.it/260x180">
                </a>
              </li>
              ...
            </ul>
          </nav>
    %pre.prettyprint.haml.hidden
      = preserve do
        :escaped
          %nav
            %ul.media-grid
              %li.col-half
                %a.media-item(href="#")
                  %img(alt="alt" src="http://placehold.it/260x180")

  .sg-half.push
    .well
      .media-item
        %img(src="http://placehold.it/540x180" alt="alt")
        %section.caption
          %h5 This is a title
          %p=@lorem_sm
          %footer(style="margin-top:1.2em;")
            %button.btn(href="#") Action
            %button.btn(href="#") Cancel
    %pre.prettyprint.html
      = preserve do
        :escaped
          <div class="media-item">
            <img alt="alt" src="http://placehold.it/460x180">
            <section class="caption">
              ...
            </section>
          </div>
    %pre.prettyprint.haml.hidden
      = preserve do
        :escaped
          .media-item
            %img(alt="alt" src="http://placehold.it/260x180")
            %section.caption
              ...

.sg-subsection
  .sg-half.pull
    .notification.important.fade.in
      %p <strong>Note!</strong> Define the column span on the list item for grid settings
  .sg-half.push
    .notification.important.fade.in
      %p <strong>Note!</strong> Include a <code>caption</code> class after the media for additional padding

