
.sg-subsection
  %h3.sg-subheading Modals <span>modals.sass</span>
  .sg-onethird.pull
    %p Modals utilize <a href="http://twitter.github.com/bootstrap/javascript.html#modals">Bootstrap's Modal plugin</a>. You can control various options of how modals are shown based on attributes set in the trigger or the modal markup itself.
    %br
    %p We do not include any styles for the contents of a modal. This is better suited for other components or custom layouts within the application.
  .sg-twothird.push
    .well
      %button.btn.primary(data-toggle="modal" href="#modal") Launch Modal
    %pre.prettyprint
      = preserve do
        :escaped
          <!-- Modal Trigger Button -->
          <button class="btn important" data-toggle="modal" href="#modal_name"></button>

          <!-- Modal Wrapper -->
          <div id="modal_name" class="modal fade" data-backdrop="true" data-keyboard="true">
            ...
          </div>
#modal.modal.fade(data-backdrop="true" data-keyboard="true")
  .notification
    %header
      %h3.heading Pop Notification within a Modal
    %section
      %p=@lorem
    %footer.footer-right
      %button.btn.important(href="#") Action
      %button.btn.danger(href="#") Cancel
    %a.close(href="#" data-dismiss="modal") &times;

