
.sg-subsection
  %h3.sg-subheading Nav lists <span>nav-lists.sass</span>
  .sg-onethird.pull
    %p Nav lists build off of the same markup as <code>tabs</code> and <code>pills</code>. They are typically used in aside style navigation systems.
    %br
    %p To include a header, just supply the <code>li</code> with the class <code>.nav-header</code>
  .sg-twothird.push
    .well.lite
      %nav
        %ul.nav.nav-list
          %li.nav-header List Header
          %li
            %a(href="#") List One
          %li.active
            %a(href="#") List Two
          %li
            %a(href="#") List Three
          %li.nav-header Another List Header
          %li
            %a(href="#") List Four
          %li
            %a(href="#") List Five
    %pre.prettyprint.html
      = preserve do
        :escaped
          <nav>
            <ul class="nav nav-list">
              <li class="nav-header">List Header</li>
              <li><a href="#">List 1</a></li>
              <li><a href="#" class="active">List 2</a></li>
              <li><a href="#">List 3</a></li>
              <li class="nav-header">Another List Header</li>
              <li><a href="#">List 4</a></li>
            </ul>
          </nav>
    %pre.prettyprint.haml.hidden
      = preserve do
        :escaped
          %nav>
            %ul.nav.nav-list
              %li.nav-header List Header
              %li
                %a(href="#") List 1
              %li.active
                %a(href="#") List 2
              %li
                %a(href="#") List 3
              %li.nav-header Another List Header
              %li
                %a(href="#") List 4

