
.sg-subsection
  %h3.sg-subheading Navs Showcase <span>navs-example.sass</span>
  %p.sg-twothird.pull Clicking on the buttons below will change the class on the <code>ul</code> element to showcase the different navigation systems. The markup structure remains the same.
  %br
  %small Follow along in your inspector!
  .well(style="margin-top:1.25em;")
    %nav
      %ul#navs_showcase.nav.pills
        %li
          %a(href="#" data-classes="nav") Base Nav
        %li
          %a(href="#" data-classes="nav tabs") Tabs
        %li.active
          %a(href="#" data-classes="nav pills") Pills
        %li
          %a(href="#" data-classes="nav breadcrumb") Breadcrumbs
        %li
          %a(href="#" data-classes="nav pagination") Pagination
        %li
          %a(href="#" data-classes="nav tabs stacked") Stacked Tabs
        %li
          %a(href="#" data-classes="nav pills stacked") Stacked Pills

  .notification.warning.fade.in
    %p <strong>Warning!</strong> All navigation components depend on the <code>.nav</code> class being attached to the list container element

