
.sg-subsection
  %h3.sg-subheading Navbars <span>navbars.sass</span>
  %p.sg-twothird.pull Typically used for application or page level navigation systems. Navbars can contain just about any type of navigation component, search forms, button groups and drop downs.
.sg-subsection
  .navbar
    .navbar-inner
      .container
        %nav
          %a.brand(href="#") Brand
          %ul.nav
            %li
              %a(href="#") Link 1
            %li.active
              %a(href="#") Link 2
            %li.plain-text Plain Text
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown<span class="caret"></span>
              %ul.dropdown-menu
                %li
                  %a(href="#") Subnav 1
                %li
                  %a(href="#") Subnav 2
                %li.divider
                %li
                  %a(href="#") Subnav 3

        %nav.pull-right
          %form.form-search
            %ol
              %li
                %input.search-query(type="search" name="test[searchbar]" placeholder="search")
                %button.btn.primary(type="submit") Go
          %ul.nav
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown<span class="caret"></span>
              %ul.dropdown-menu
                %li
                  %a(href="#") Subnav 1
                %li
                  %a(href="#") Subnav 2
                %li.divider
                %li
                  %a(href="#") Subnav 3

.sg-subsection
  %pre.prettyprint
    = preserve do
      :escaped
        <!-- Showcases the navbar example above -->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <nav>
                <a class="brand" href="#">Brand</a>
                <ul class="nav">
                  <li><a href="#">Link 1</a></li>
                  <li class="active"><a href="#">Link 2</a></li>
                  <li class="plain-text">Plain Text</li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      ...
                    </ul>
                  </li>
                </ul>
              </nav>
              <section class="pull-right">
                <form class="form-search">
                  <ol>
                    <li>
                      <input class="search-query" name="test[searchbar]" placeholder="search" type="search">
                      <button class="btn primary" type="submit">Go</button>
                    </li>
                  </ol>
                </form>
                <ul class="nav">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      ...
                    </ul>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </div>
  .notification.important.fade.in
    %p <strong>Note!</strong> Add the <code>.fixed</code> class to the <code>.navbar</code> container to fix the navigation system to the top of the page
