
.sg-subsection
  %h3.sg-subheading Tabs
  .sg-onethird.pull
    %p.sg-todo Describe tabs
  .sg-twothird.push
    .well
      %nav
        %ul.nav.tabs
          %li
            %a(href="#") Tab One
          %li.active
            %a(href="#") Tab Two
          %li
            %a(href="#") Tab Three
          %li
            %a(href="#") Tab Four

        -# %section
          -# %h2 This is section content within the tab
          -# %p Apply the <code>.tabs<code> class to <code>nav</code> elements to represent tab navigation. Tabs can be used as page sub navigation or toggle between layers of content. To do this will require a bit of JavaScript. You might want to check out <a href="http://twitter.github.com/bootstrap/javascript.html#tabs">Bootstrap's Solution</a> for this, it's not included in this project. The first <code>section</code> descendant inside a tab area utilizes a margin to pull the content away from the tabs.

.sg-subsection
  %h3.sg-subheading Pills
  .sg-onethird.pull
    %p Pills are similar to tabs in their markup structure. Just change the class to <code>.pills</code> and you are set to go.
  .sg-twothird.push
    .well
      %nav
        %ul.nav.pills
          %li
            %a(href="#") Pill One
          %li.active
            %a(href="#") Pill Two
          %li
            %a(href="#") Pill Three
          %li
            %a(href="#") Pill Four

.sg-subsection
  %h3.sg-subheading Stacked Tabs and Pills
  .sg-onethird.pull
    %p.sg-todo Describe stacked
  .sg-onethird
    .well
      %nav
        %ul.nav.tabs.stacked
          %li
            %a(href="#") Tab One
          %li.active
            %a(href="#") Tab Two
          %li
            %a(href="#") Tab Three
          %li
            %a(href="#") Tab Four
  .sg-onethird.push
    .well
      %nav
        %ul.nav.pills.stacked
          %li
            %a(href="#") Pill One
          %li.active
            %a(href="#") Pill Two
          %li
            %a(href="#") Pill Three
          %li
            %a(href="#") Pill Four

.sg-subsection
  %h3.sg-subheading Navigation Lists
  .sg-onethird.pull
    %p Describe navigation lists
  .sg-twothird.push
    .well.lite
      %nav
        %ul.nav.list
          %li.nav-header List Header
          %li
            %a(href="#") List One
          %li.active
            %a(href="#") List Two
          %li
            %a(href="#") List Three
          %li.nav-header Another List Header
          %li
            %a(href="#") List Four
          %li
            %a(href="#") List Five

