
.sg-subsection
  %h3.sg-subheading Navbars <span>navbars.sass</span>
  %p(style="width:67%;") Typically used for application or page level navigation systems. Navbars can contain just about any type of navigation component, search forms, button groups and drop downs.
  %br
  %p(style="width:67%;") Navbars support responsive behavior, by adding a button with <code>data-toggle="collapse" data-target="#target_id"</code>. You'll also need to set the corresponding class (<code>.nav-collapse</code>) and the id based on the target (<code>#target_id</code>) on the collapsable container. Make sure to utilize the styles contained within the media queries as well.
.sg-subsection
  .navbar
    .navbar-inner
      .container
        %a.btn.info.btn-navbar(data-toggle="collapse" data-target="#collapse_example")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand(href="#") Brand
        %nav.nav-collapse#collapse_example
          %ul.nav
            %li
              %a(href="#") Link 1
            %li.active
              %a(href="#") Link 2
            %li.plain-text Plain Text
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown<span class="caret"></span>
              %ul.dropdown-menu
                %li
                  %a(href="#") Subnav 1
                %li
                  %a(href="#") Subnav 2
                %li.divider
                %li
                  %a(href="#") Subnav 3

          %nav.pull-right
            %form.form-search
              %ol
                %li
                  %input.search-query(type="search" name="test[searchbar]" placeholder="search")
                  %button.btn.primary(type="submit") Go
            %ul.nav
              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown<span class="caret"></span>
                %ul.dropdown-menu
                  %li
                    %a(href="#") Subnav 1
                  %li
                    %a(href="#") Subnav 2
                  %li.divider
                  %li
                    %a(href="#") Subnav 3

.sg-subsection
  %pre.prettyprint
    = preserve do
      :escaped
        <!-- Showcases the navbar example above -->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn info btn-navbar" data-toggle="collapse" data-target="#collapse_example">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#">Brand</a>
              <nav class="nav-collapse" id="#collapse_example">
                <ul class="nav">
                  <li><a href="#">Link 1</a></li>
                  <li class="active"><a href="#">Link 2</a></li>
                  <li class="plain-text">Plain Text</li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      ...
                    </ul>
                  </li>
                </ul>
                <section class="pull-right">
                  <form class="form-search">
                    <ol>
                      <li>
                        <input class="search-query" name="test[searchbar]" placeholder="search" type="search">
                        <button class="btn primary" type="submit">Go</button>
                      </li>
                    </ol>
                  </form>
                  <ul class="nav">
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        ...
                      </ul>
                    </li>
                  </ul>
                </section>
              </nav>
            </div>
          </div>
        </div>
  .notification.important.fade.in
    %p <strong>Note!</strong> Add the <code>.fixed</code> class to the <code>.navbar</code> container to fix the navigation system to the top of the page
  .notification.important.fade.in
    %p <strong>Note!</strong> For a responsive navbar, make sure to include <a href="http://twitter.github.com/bootstrap/javascript.html#collapse">Bootstrap's Collapse plugin</a> and add the necessary elements to the structure

