
.sg-subsection
  %h3.sg-subheading Notifications <span>notifications.sass</span>

.sg-subsection
  -# Standard Notifications
  .sg-half.pull
    %h4 Basic notifications
    %p A basic notification is set on a container with the <code>.notification</code> class. It comes in the standard flavors for various types of alerts. Notifications utilize <a href="http://twitter.github.com/bootstrap/javascript.html#alerts">Bootstrap's alert plugin</a> for closing a notification.
    %pre.prettyprint.html
      = preserve do
        :escaped
          <div class="notification important fade in">
            <p><strong>Dude!</strong> Wheres my car?</p>
            <a class="close" data-dismiss="alert">&times;</a>
          </div>
    %pre.prettyprint.haml.hidden
      = preserve do
        :escaped
          .notification.important.fade.in
            %p <strong>Dude!</strong> Wheres my car?
            %a.close(data-dismiss="alert") &times;

  -# Pop Notifications
  .sg-half.push
    .notification.fade.in
      %p <strong>Default!</strong> This is the default notification.
      %a.close(href="#" data-dismiss="alert") &times;
    .notification.info.notice.fade.in
      %p <strong>Info (or Notice)!</strong> Use this for general information.
      %a.close(href="#" data-dismiss="alert") &times;
    .notification.important.fade.in
      %p <strong>Important!</strong> Something important is said here.
      %a.close(href="#" data-dismiss="alert") &times;
    .notification.success.fade.in
      %p <strong>Success!</strong> Congratulations, you get a trophy.
      %a.close(href="#" data-dismiss="alert") &times;
    .notification.warning.fade.in
      %p <strong>Warning!</strong> Your first and final.
      %a.close(href="#" data-dismiss="alert") &times;
    .notification.danger.error.alert.fade.in
      %p <strong>Danger (or Error, or Alert)!</strong> Something bad did happen.
      %a.close(href="#" data-dismiss="alert") &times;
    .notification.primary.fade.in
      %p <strong>Primary!</strong> The CI button.
      %a.close(href="#" data-dismiss="alert") &times;

.sg-subsection
  .sg-half.pull
    %h4 Block notifications
    %p Block notifications are similar to the basic notification, in fact nothing needs to change on the outer container. Just add a <code>header</code>, <code>section</code> and/or <code>footer</code> to the internal markup to provide more information around the notification.
    %pre.prettyprint.html
      = preserve do
        :escaped
          <!-- Success Block -->
          <div class="notification success fade in">
            <header>...</header>
            <section>...</section>
            <footer>... </footer>
            <a class="close" data-dismiss="alert">&times;</a>
          </div>

          <!-- Danger Block -->
          <div class="notification danger fade in">
            <section>...</section>
            <footer class="footer-right">... </footer>
            <a class="close" data-dismiss="alert">&times;</a>
          </div>

          <!-- Primary Block -->
          <div class="notification important fade in">
            <header>...</header>
            <p>... </p>
            <a class="close" data-dismiss="alert">&times;</a>
          </div>
    %pre.prettyprint.haml.hidden
      = preserve do
        :escaped
          <!-- Success Block -->
          .notification.success.fade.in
            %header ...
            %section ...
            %footer ...
            %a.close(data-dismiss="alert") &times;

          <!-- Danger Block -->
          .notification.danger.fade.in
            %section ...
            %footer.footer-right ...
            %a.close(data-dismiss="alert") &times;

          <!-- Primary Block -->
          .notification.important.fade.in
            %header ...
            %p ...
            %a.close(data-dismiss="alert") &times;
  .sg-half.push
    .notification.success.fade.in
      %header
        %h5.heading Header with an h5
      %section
        %p=@lorem_sm
      %footer
        %button.btn.success(href="#") Action
        %button.btn(href="#") Cancel
      %a.close(href="#" data-dismiss="alert") &times;
    .notification.danger.fade.in
      %section
        %p
          %strong Yikes! This doesn't have a header and the footer is on the right!
          =@lorem_sm
      %footer.footer-right
        %button.btn.danger(href="#") Action
        %button.btn(href="#") Cancel
      %a.close(href="#" data-dismiss="alert") &times;
    .notification.important.fade.in
      %header
        %strong Header with strong tag, no section or footer!
      %p=@lorem_sm
      %a.close(href="#" data-dismiss="alert") &times;


.sg-subsection
  %h4 Flash Notifications
  %p(style="width:67%") Flash notifications enhance the standard <code>.notification</code> component by allowing them to appear fixed above all other elements on the page. Wrap the notifications within a <code>#flash_messages.flash-messages</code> container at the root of the body, sprinkle a little JavaScript and you're ready to go.
  %br
  %p(style="width:67%") Adding different positional classes to the <code>.flash-messages</code> container will allow them to appear in different quadrants of the viewport as seen below:
.sg-subsection
  %table.box.banded.thead-decorate
    %thead
      %tr
        %th Type
        %th Class
        %th Usage
    %tbody
      %tr
        %td
          %a.flash-example(href="#" data-position="top") Top
        %td <code>.flash-messages.top</code>
        %td Fixed to the top of the browser, spans the entire viewport (<em>the default</em>)
      %tr
        %td
          %a.flash-example(href="#" data-position="bottom") Bottom
        %td <code>.flash-messages.bottom</code>
        %td Fixed to the bottom of the browser, spans the entire viewport
      %tr
        %td
          %a.flash-example(href="#" data-position="top-left") Top left
        %td <code>.flash-messages.top-left</code>
        %td Upper left quadrant of the viewport, with a size of 25%
      %tr
        %td
          %a.flash-example(href="#" data-position="top-right") Top right
        %td <code>.flash-messages.top-right</code>
        %td Upper right quadrant of the viewport, with a size of 25%
      %tr
        %td
          %a.flash-example(href="#" data-position="top-center") Top center
        %td <code>.flash-messages.top-center</code>
        %td Upper center quadrant of the viewport, with a size of 50%
      %tr
        %td
          %a.flash-example(href="#" data-position="middle") Middle
        %td <code>.flash-messages.middle</code>
        %td Dead center baby, with a size of 50%

  .notification.important.fade.in
    %p <strong>Note!</strong> You don't necessarily need to use notifications within the <code>.flash-messages</code> container, it's left fairly flexible to allow for various interpretations

