
.sg-subsection
  %h3.sg-subheading Progress Bars <span>progress-bars.sass</span>
  %p.sg-twothird.pull Progress bars are used to display actions being performed by the user. Utilize a bit of JavaScript to set the <code>width</code> of the <code>.progress &gt; .bar</code> to showcase it's status.
.sg-subsection
  %table.box.banded.thead-decorate
    %thead
      %tr
        %th Progress Bar
        %th Class
        %th Description
    %tbody
      %tr
        %td
          .progress
            .bar(style="width:60%")
        %td <code>.progress</code>
        %td The default style utilizing the <code>$standard</code> value
      %tr
        %td
          .progress.info
            .bar(style="width:60%")
        %td <code>.progress.info</code>
        %td The info bar is typically used as an alternate to the default bar
      %tr
        %td
          .progress.important
            .bar(style="width:60%")
        %td <code>.progress.important</code>
        %td Typically used when performing an important action
      %tr
        %td
          .progress.success
            .bar(style="width:60%")
        %td <code>.progress.success</code>
        %td Used to show a successful or positive progress
      %tr
        %td
          .progress.warning
            .bar(style="width:60%")
        %td <code>.progress.warning</code>
        %td Used when performing cautious or potentially negative action
      %tr
        %td
          .progress.danger
            .bar(style="width:60%")
        %td <code>.progress.danger</code>
        %td Typically used when performing a delete or negative action
      %tr
        %td
          .progress.primary
            .bar(style="width:60%")
        %td <code>.progress.primary</code>
        %td Inherits the main CI color to display a progress action
  .notification.important.fade.in
    %p <strong>Pro Tip!</strong> Click in the progress bar container to showcase the loading animation

.sg-subsection
  %h4 Native Progress &amp; Meter Bars
  .sg-onethird.pull
    %p Native Progress and Meter bars are not supported in all browsers, but are available to some. We opt for using a component over these, but polyfills are available for both <a href="https://gist.github.com/667320">meter</a> and <a href="http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/">progress bars</a>. They just require a bit more css to accommodate.
  .sg-twothird.indent
    .well
      %p The <code>meter</code> bar is used to indicate a scalar measurement within a known range, or a fractional value.
      %p
        %meter(min="0" max="100" value="50")
      %br
      %br
      %p The <code>progress</code> bar is used to represent the progress of a task.
      %p
        %progress(min="0" max="100" value="50")

