
.sg-subsection
  %h3.sg-subheading Tabs &amp; Pills

.sg-subsection
  .sg-half.pull
    %h4 Default Tabs
    %p Attach the classes <code>.nav .tabs</code> to the <code>ol</code> or <code>ul</code> elements.
    .well(style="margin-top:1.25em;")
      %nav
        %ul.nav.tabs
          %li
            %a(href="#") Tab One
          %li.active
            %a(href="#") Tab Two
          %li
            %a(href="#") Tab Three
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown") Tab Four<span class="caret"></span>
            %ul.dropdown-menu
              %li
                %a(href="#") Subnav 1
              %li
                %a(href="#") Subnav 2
              %li.divider
              %li
                %a(href="#") Subnav 3
  .sg-half.push
    %h4 Default Pills
    %p Attach the classes <code>.nav .pills</code> to the <code>ol</code> or <code>ul</code> elements.
    .well(style="margin-top:1.25em;")
      %nav
        %ul.nav.pills
          %li
            %a(href="#") Pill One
          %li.active
            %a(href="#") Pill Two
          %li
            %a(href="#") Pill Three
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown") Pill Four<span class="caret"></span>
            %ul.dropdown-menu
              %li
                %a(href="#") Subnav 1
              %li
                %a(href="#") Subnav 2
              %li.divider
              %li
                %a(href="#") Subnav 3

.sg-subsection
  .sg-half.pull
    %h4 Stacked Tabs
    %p Stack tabs by adding the class <code>.stacked</code> to the <code>.tabs</code> element.
    .well(style="margin-top:1.25em;")
      %nav
        %ul.nav.tabs.stacked
          %li
            %a(href="#") Tab One
          %li.active
            %a(href="#") Tab Two
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown") Tab Three<span class="caret"></span>
            %ul.dropdown-menu
              %li
                %a(href="#") Subnav 1
              %li
                %a(href="#") Subnav 2
              %li.divider
              %li
                %a(href="#") Subnav 3
          %li
            %a(href="#") Tab Four

  .sg-half.push
    %h4 Stacked Pills
    %p Stack pills by adding the class <code>.stacked</code> to the <code>.pills</code> element.
    .well(style="margin-top:1.25em; padding-bottom:1em;")
      %nav
        %ul.nav.pills.stacked
          %li
            %a(href="#") Pills One
          %li.active
            %a(href="#") Pills Two
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown") Pills Three<span class="caret"></span>
            %ul.dropdown-menu
              %li
                %a(href="#") Subnav 1
              %li
                %a(href="#") Subnav 2
              %li.divider
              %li
                %a(href="#") Subnav 3
          %li
            %a(href="#") Pills Four


.sg-subsection
  .sg-half.pull
    %h4 Tabs structure
    %p Tabs structure shown with a dropdown.
    %pre.prettyprint
      = preserve do
        :escaped
          <nav>
            <!-- Add `.stacked` to the ul below -->
            <ul class="nav tabs">
              <li><a>Tab 1</a></li>
              <li><a class="active">Tab 2</a></li>
              <li class="dropdown">
                <a data-toggle="dropdown">Tab 3<span class="caret">...
                <ul class="dropdown-menu">
                  <li><a href="#">Subnav 1</a></li>
                  <li><a href="#">Subnav 2</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Subnav 3</a></li>
                </ul>
              </li>
            </ul>
          </nav>

  .sg-half.push
    %h4 Pills structure
    %p Pills structure shown with a dropdown.
    %pre.prettyprint
      = preserve do
        :escaped
          <nav>
            <!-- Add `.stacked` to the ul below -->
            <ul class="nav pills">
              <li><a>Pill 1</a></li>
              <li><a class="active">Pill 2</a></li>
              <li class="dropdown">
                <a data-toggle="dropdown">Pill 3<span class="caret">...
                <ul class="dropdown-menu">
                  <li><a href="#">Subnav 1</a></li>
                  <li><a href="#">Subnav 2</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Subnav 3</a></li>
                </ul>
              </li>
            </ul>
          </nav>

