
.sg-subsection
  %h3.sg-subheading Tabs &amp; Pills <span>tabs.sass, pills.sass</span>

.sg-subsection
  .sg-half.pull
    %h4 Default Tabs
    %p Attach the classes <code>.nav .tabs</code> to the <code>ol</code> or <code>ul</code> elements.
    .well(style="margin-top:1.25em;")
      %nav
        %ul.nav.tabs
          %li
            %a(href="#tab_one" data-toggle="tab") Tab One
          %li.active
            %a(href="#tab_two" data-toggle="tab") Tab Two
          %li
            %a(href="#tab_three" data-toggle="tab") Tab Three
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown") Tab Four<span class="caret"></span>
            %ul.dropdown-menu
              %li
                %a(href="#tab_four-1" data-toggle="tab") Subnav 1
              %li
                %a(href="#tab_four-2" data-toggle="tab") Subnav 2
              %li.divider
              %li
                %a(href="#tab_four-3" data-toggle="tab") Subnav 3
      .tab-content(style="margin-top:1.25em;")
        .tab-pane#tab_one
          %p Tab <span class="decal primary">one</span> content
        .tab-pane#tab_two.active
          %p Tab <span class="decal primary">two</span> content
        .tab-pane#tab_three
          %p Tab <span class="decal primary">three</span> content
        .tab-pane#tab_four-1
          %p Tab <span class="decal primary">four</span>: subnav <span class="decal primary">1</span> content
        .tab-pane#tab_four-2
          %p Tab <span class="decal primary">four</span>: subnav <span class="decal primary">2</span> content
        .tab-pane#tab_four-3
          %p Tab <span class="decal primary">four</span>: subnav <span class="decal primary">3</span> content

  .sg-half.push
    %h4 Default Pills
    %p Attach the classes <code>.nav .pills</code> to the <code>ol</code> or <code>ul</code> elements.
    .well(style="margin-top:1.25em;")
      %nav
        %ul.nav.pills
          %li
            %a(href="#pill_one" data-toggle="pill") Pill One
          %li.active
            %a(href="#pill_two" data-toggle="pill") Pill Two
          %li
            %a(href="#pill_three" data-toggle="pill") Pill Three
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown") Pill Four<span class="caret"></span>
            %ul.dropdown-menu
              %li
                %a(href="#pill_four-1" data-toggle="pill") Subnav 1
              %li
                %a(href="#pill_four-2" data-toggle="pill") Subnav 2
              %li.divider
              %li
                %a(href="#pill_four-3" data-toggle="pill") Subnav 3
      .pill-content(style="margin-top:1.25em;")
        .pill-pane#pill_one
          %p Pill <span class="decal primary">one</span> content
        .pill-pane#pill_two.active
          %p Pill <span class="decal primary">two</span> content
        .pill-pane#pill_three
          %p Pill <span class="decal primary">three</span> content
        .pill-pane#pill_four-1
          %p Pill <span class="decal primary">four</span>: subnav <span class="decal primary">1</span> content
        .pill-pane#pill_four-2
          %p Pill <span class="decal primary">four</span>: subnav <span class="decal primary">2</span> content
        .pill-pane#pill_four-3
          %p Pill <span class="decal primary">four</span>: subnav <span class="decal primary">3</span> content


.sg-subsection
  .sg-half.pull
    %h4 Stacked Tabs
    %p Stack tabs by adding the class <code>.stacked</code> to the <code>.tabs</code> element.
    .well(style="margin-top:1.25em;")
      %nav
        %ul.nav.tabs.stacked
          %li
            %a(href="#") Tab One
          %li.active
            %a(href="#") Tab Two
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown") Tab Three<span class="caret"></span>
            %ul.dropdown-menu
              %li
                %a(href="#") Subnav 1
              %li
                %a(href="#") Subnav 2
              %li.divider
              %li
                %a(href="#") Subnav 3
          %li
            %a(href="#") Tab Four

  .sg-half.push
    %h4 Stacked Pills
    %p Stack pills by adding the class <code>.stacked</code> to the <code>.pills</code> element.
    .well(style="margin-top:1.25em; padding-bottom:1em;")
      %nav
        %ul.nav.pills.stacked
          %li
            %a(href="#") Pills One
          %li.active
            %a(href="#") Pills Two
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown") Pills Three<span class="caret"></span>
            %ul.dropdown-menu
              %li
                %a(href="#") Subnav 1
              %li
                %a(href="#") Subnav 2
              %li.divider
              %li
                %a(href="#") Subnav 3
          %li
            %a(href="#") Pills Four


.sg-subsection
  .sg-half.pull
    %h4 Tabs structure
    %p Tabs structure shown with a dropdown.
    %pre.prettyprint
      = preserve do
        :escaped
          <nav>
            <!-- Add `.stacked` to the ul below -->
            <ul class="nav tabs">
              <li><a>Tab 1</a></li>
              <li><a class="active">Tab 2</a></li>
              <li class="dropdown">
                <a data-toggle="dropdown">Tab 3<span class="caret">...
                <ul class="dropdown-menu">
                  ...
                </ul>
              </li>
            </ul>
          </nav>

  .sg-half.push
    %h4 Pills structure
    %p Pills structure shown with a dropdown.
    %pre.prettyprint
      = preserve do
        :escaped
          <nav>
            <!-- Add `.stacked` to the ul below -->
            <ul class="nav pills">
              <li><a>Pill 1</a></li>
              <li><a class="active">Pill 2</a></li>
              <li class="dropdown">
                <a data-toggle="dropdown">Pill 3<span class="caret">...
                <ul class="dropdown-menu">
                  ...
                </ul>
              </li>
            </ul>
          </nav>

.sg-subsection
  %h4 Togglable Tabs &amp; Pills
  %p.sg-twothird.pull To utilize a drop dead simple version of hiding and showing content related to a tab/pill, utilize <a href="http://twitter.github.com/bootstrap/javascript.html#tabs">Bootstrap's Tab</a> plugin. The base structure of tabs and pills doesn't change, except to include a few more classes on the links and the <code>href</code> attribute the button will target.
  %pre.prettyprint
    = preserve do
      :escaped
        <nav>
          <ul class="nav tabs">
            <li>
              <a data-toggle="tab" href="#tab_one">Tab One</a>
            </li>
            <li class="active">
              <a data-toggle="tab" href="#tab_two">Tab Two</a>
            </li>
          </ul>
        </nav>
        <!-- tab-content holds all tab-pane markup -->
        <div class="tab-content">
          <div class="tab-pane" id="tab_one">
            <p>Tab one content</p>
          </div>
          <div class="tab-pane active" id="tab_two">
            <p>Tab two content</p>
          </div>
        </div>
  .notification.important.fade.in
    %p <strong>Note!</strong> When targeting pills, use <code>data-toggle="pill"</code> for links and <code>.pill-content</code>, <code>.pill-pane</code> for content elements.

