
.sg-subsection
  %h3.sg-subheading Wells <span>wells.sass</span>
  .sg-half.pull
    %p Wells are simple containers for popping elements off the page. They come in a few different flavors.
    %pre.prettyprint.html
      = preserve do
        :escaped
          <div class="well">...</div>
          <div class="well lite">...</div>
          <div class="well dark">...</div>
          <div class="well primary">...</div>
    %pre.prettyprint.haml.hidden
      = preserve do
        :escaped
          .well ...
          .well.lite ...
          .well.dark ...
          .well.primary ...
  .sg-half
    .well
      %code .well
    .well.lite
      %code .well.lite
    .well.dark
      %code .well.dark
    .well.primary
      %code .well.primary

