
.sg-subsection
  %h3.sg-subheading Wells
  .sg-half.pull
    %p Wells are simple containers for popping elements off the page. They come in a few different flavors.
    %pre.prettyprint
      = preserve do
        :escaped
          <div class="well">...</div>
          <div class="well lite">...</div>
          <div class="well dark">...</div>
          <div class="well primary">...</div>
  .sg-half
    .well
      %code .well
    .well.lite
      %code .well.lite
    .well.dark
      %code .well.dark
    .well.primary
      %code .well.primary

