
%form
  %fieldset
    %legend I am Legend (Vertical Form)
    %ol
      %li#test_text_input.required
        %label.label(for="test_text") Text Input <abbr title="required">*</abbr>
        %input#test_text.input-medium(type="text" name="test[text]" placeholder="text input")
        %p.hint This is a hint for the control element!

      %li.boolean
        %label(for="test_check1" name="test[check1]")
          %input(id="test_check1" name="test[check1]" type="checkbox" checked="checked" value="0")
          Checkboxes for multiple selections
      %li.boolean
        %label(for="test_check2" name="test[check2]")
          %input(id="test_check2" name="test[check2]" type="checkbox" value="1")
          Go ahead and select this one too

      %li
        %ol.choices-group
          %li.choice
            %label(for="test_radio1")
              %input(id="test_radio1" name="test[radio]" type="radio" value="true")
              Yes, to radio buttons
          %li.choice
            %label(for="test_radio2")
              %input(id="test_radio2" name="test[radio]" type="radio" value="false")
              No, to radio buttons

      %li#test_select_input.optional
        %label.label(for="test_select") Select
        %select#test_select.input-medium(name="test[select]")
          %optgroup(label="Colorado")
            %option(value="denver" selected="selected") Denver
            %option(value="boulder") Boulder
          %optgroup(label="California")
            %option(value="los angeles") Los Angeles
            %option(value="san francisco") San Francisco

      %li#test_multi_input.optional
        %label.label(for="test_multi") Multi
        %select#test_multi.input-medium(name="test[multi]" multiple)
          %option(value="1") One
          %option(value="2" selected="selected") Two
          %option(value="3") Three
          %option(value="4") Four
          %option(value="5") Five

      %li#test_textarea_textarea.optional
        %label.label(for="test_textarea") Text Area
        %textarea#test_textarea.input-medium(name="test[textarea]" placeholder="Enter some text..." rows="2")

      %li.commit.button
        %label.label(for="test_file") File Browser
        %input.file(name="file" type="file" value="file")

      %li
        %ol.form-actions
          %li.commit.button
            %input.submit(name="submit" type="submit" value="Submit")
          %li.commit.button
            %input.reset(name="reset" type="reset" value="Reset")
          %li.commit.button
            %input.button(name="button" type="button" value="Button")
          %li.commit.button
            %input.image(name="image" type="image" src="http://lorempixum.com/68/28/" value="Image")

