
%form
  %fieldset
    %legend Disabled Controls
    %ol
      %li#test_text_input.required.disabled
        %label.label(for="test_text") Text Input <abbr title="required">*</abbr>
        %input#test_text.input-medium(type="text" name="test[text]" placeholder="text input" disabled)
        %p.hint This is a hint for the control element!

      %li.boolean.disabled
        %label(for="test_check1" name="test[check1]")
          %input(id="test_check1" name="test[check1]" type="checkbox" checked="checked" value="0" disabled)
          Checkboxes for multiple selections
      %li.boolean.disabled
        %label(for="test_check2" name="test[check2]")
          %input(id="test_check2" name="test[check2]" type="checkbox" value="1" disabled)
          Go ahead and select this one too

      %li
        %ol.choices-group
          %li.choice.disabled
            %label(for="test_radio1")
              %input(id="test_radio1" name="test[radio]" type="radio" value="true" disabled)
              Yes, to radio buttons
          %li.choice.disabled
            %label(for="test_radio2")
              %input(id="test_radio2" name="test[radio]" type="radio" value="false" disabled)
              No, to radio buttons

      %li#test_select_input.optional.disabled
        %label.label(for="test_select") Select
        %select#test_select.input-medium(name="test[select]" disabled)
          %optgroup(label="Colorado")
            %option(value="denver" selected="selected") Denver
            %option(value="boulder") Boulder
          %optgroup(label="California")
            %option(value="los angeles") Los Angeles
            %option(value="san francisco") San Francisco

      %li#test_multi_input.optional.disabled
        %label.label(for="test_multi") Multi
        %select#test_multi.input-medium(name="test[multi]" multiple disabled)
          %option(value="1") One
          %option(value="2" selected="selected") Two
          %option(value="3") Three
          %option(value="4") Four
          %option(value="5") Five

      %li#test_textarea_textarea.optional.disabled
        %label.label(for="test_textarea") Text Area
        %textarea#test_textarea.input-medium(name="test[textarea]" placeholder="Enter some text..." rows="3" disabled)

      %li.commit.button.disabled
        %input.file(name="file" type="file" value="file" disabled)

      %li
        %ol.form-actions
          %li.commit.button.disabled
            %input.submit(name="submit" type="submit" value="Submit" disabled)
          %li.commit.button.disabled
            %input.reset(name="reset" type="reset" value="Reset" disabled)
          %li.commit.button.disabled
            %input.button(name="button" type="button" value="Button" disabled)
          %li.commit.button.disabled
            %input.image(name="image" type="image" src="http://lorempixum.com/68/28/" value="Image" disabled)

