
// fluid sizing
$context_px: 16
$base_font_size: 14
$base_width: 992

// fonts
/* ----------------------------------------------------------------------------
$sans_norm: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$serif_norm: Georgia, Times, "Times New Roman", serif
$code_norm: "Bitstream Vera Sans Mono", "Menslo LG M", "Menlo", "Monaco", monospace

// colors
/* ----------------------------------------------------------------------------
$black: #000
$grey1: #111
$grey2: #222
$grey3: #333
$grey4: #444
$grey5: #555
$grey6: #666
$grey7: #777
$grey8: #888
$grey9: #999
$greyA: #aaa
$greyB: #bbb
$greyC: #ccc
$greyD: #ddd
$greyE: #eee
$white: #fff

$magenta: #ff00ff
$cyan: #00ffff
$red: #b22222
$orange: #f26522
$yellow: #ffc40d
$green: #46a546
$blue: #268bd2
$indigo: #4b0082
$violet: #ee82ee

$standard: $greyA
$notice: $grey4
$important: $blue
$success: $green
$warning: $yellow
$alert: $orange
$error: $red
$danger: $error

$border_std: 1px solid $grey6
$border_dot: 1px dotted $grey6
$border_dash: 1px dashed $grey6

$focus_shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8)
$focus_error_shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8)
$focus_border: rgba(82, 168, 236, 0.8)
$text_shadow: 0 1px 1px rgba(255, 255, 255, 0.5)

$disabled_color: $greyB
$disabled_bg: $greyE
$disabled_border: $greyC

// grid mixin
/* ----------------------------------------------------------------------------
// Settings for desktop/tablet portrait
// Setting for other devices are stored in their individual "queries file"
$page-width: 992px
$column-width: 50px
$gutter-width: 12px
$columns: 16
$_gridsystem-width: $column-width * $columns + $gutter-width * $columns

// Set $total-width to 100% for a fluid layout
$total-width: $_gridsystem-width

// @include grid-settings(984px, 70px, 12px, 12);

// base.scss
/* ----------------------------------------------------------------------------
$body_bg_color: $white
$body_bg: $white
$body_color: $grey2

$select_bg: $blue
$select_color: $white

$link_normal: $blue
$link_hover: $grey6
$link_active: $grey6
$link_visited: $blue
$link_focus: $blue
$link_highlight: $blue
$tap_highlight: $blue

// typography.scss
/* ----------------------------------------------------------------------------
$header_color: $grey2
$mark_bg: $yellow
$code_border: #eaeaea
$code_bg: #f8f8f8
$pre_border: #ccc
$pre_bg: #f8f8f8

// elements.scss
/* ----------------------------------------------------------------------------
// @see mixins/_buttons.scss
$btn_bg: $greyD
$btn_gradient: $white, $white 25%, $greyD
$btn_color: $grey6

$action_bg: $greyD
$action_color: $grey6


// tables.scss
/* ----------------------------------------------------------------------------
$table_bg: transparent
$table_primary_color: $grey2
$thead_border: $greyA
$table_border_std: $greyC
$tfoot_border: $greyA
$thead_link_normal: $blue
$thead_link_hover: $table_primary_color

$zebra_odd: $white
$zebra_even: $greyE

$thead_bg: $greyC
$tfoot_bg: $greyC

// forms.scss
/* ----------------------------------------------------------------------------
$fieldset_border: $border_dot
$form_hr: $border_dot
$hint_color: $grey6
$label_color: $grey6
$collection_label_color: $grey2
$placeholder: $greyB

$input_color: $grey3
$input_bg: $white
$input_border: $greyA
$input_shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 0px rgba(255, 255, 255, 0.4)
$input_file_bg: $white

$input_focus_color: $black
$input_focus_bg: $greyE

// components/*.scss
/* ----------------------------------------------------------------------------
$breadcrumb_color: $grey6
$breadcrumb_normal: $grey6
$breadcrumb_hover: $blue
$breadcrumb_active: $blue
$breadcrumb_visited: $grey6
$breadcrumb_focus: $blue

$paginate_bg: $white
$paginate_border: $greyC
$paginate_color: $grey6
$paginate_hover_bg: $blue
$paginate_hover_border: darken($blue, 10%)
$paginate_hover_color: $white
$paginate_disabled: $disabled_color

$tabs_bg: $greyE
$tabs_border: $greyC
$tabs_normal_color: lighten($grey6, 30%)
$tabs_hover_bg: $blue
$tabs_hover_border: darken($blue, 10%)
$tabs_hover_color: $white
$tabs_active_bg: $white
$tabs_active_border: $white
$tabs_active_color: $grey6

$pills_bg: $white
$pills_border: $greyC
$pills_normal_color: $grey6
$pills_hover_bg: $blue
$pills_hover_border: darken($blue, 10%)
$pills_hover_color: $white
$pills_active_bg: $blue
$pills_active_border: darken($blue, 10%)
$pills_active_color: $white

$tipsy_bg: $black
$tipsy_color: $white

$pop_bg: $white
$pop_color: $grey6
$pop_border: $grey6
$pop_header_bg: $greyE
$pop_header_border: $greyA

$messaging_color: $white

// TODO: Define Modals

// layouts/*.scss
/* ----------------------------------------------------------------------------

