
// fonts
// ----------------------------------------------------------------------------
$sans_norm: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$code_norm: monospace, monospace

// colors
// ----------------------------------------------------------------------------
$black: black
$grey1: #111111
$grey2: #222222
$grey3: #333333
$grey4: #444444
$grey5: #555555
$grey6: #666666
$grey7: #777777
$grey8: #888888
$grey9: #999999
$greyA: #aaaaaa
$greyB: #bbbbbb
$greyC: #cccccc
$greyD: #dddddd
$greyE: #eeeeee
$white: white

$magenta: #ff00ff
$cyan: #00ffff
$red: #b22222
$orange: #f26522
$yellow: #ffc40d
$green: #46a546
$blue: #268bd2
$indigo: #4b0082
$violet: #ee82ee

$standard: $greyA
$notice: $grey3
$important: $blue
$success: $green
$warning: $yellow
$alert: $orange
$error: $red
$danger: $error

$border_std: 1px solid $grey6
$border_dot: 1px dotted $grey6

$focus_shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.8)
$focus_error_shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(178, 34, 34, 0.8)
$focus_border: rgba(82, 168, 236, 0.8)
$text_shadow: 0 1px 1px rgba(255, 255, 255, 0.5)

$disabled_color: $greyB
$disabled_bg: $greyE
$disabled_border: $greyC

// grid mixin
// ----------------------------------------------------------------------------
// Settings for desktop/tablet portrait
// Setting for other devices are stored in their individual "queries file"
$page-width: 992px
$column-width: 50px
$gutter-width: 12px
$columns: 16
$_gridsystem-width: $column-width * $columns + $gutter-width * $columns

// Set $total-width to 100% for a fluid layout
$total-width: $_gridsystem-width

/* @include grid-settings(984px, 70px, 12px, 12);

// base.scss
// ----------------------------------------------------------------------------
$body_bg_color: $white
$body_bg: $white
$body_color: $grey2

$select_bg: $blue
$select_color: $white

$link_normal: $blue
$link_hover: $grey6
$link_active: $grey6
$link_visited: $blue
$link_focus: $blue
$link_highlight: $blue
$tap_highlight: $blue

// typography.scss
// ----------------------------------------------------------------------------
$header_color: $grey2
$mark_bg: $yellow

// elements.scss
// ----------------------------------------------------------------------------
$flash_color: $white

// tables.scss
// ----------------------------------------------------------------------------
$table_bg: none
$caption_color: $grey2
$thead_bg: $greyC
$thead_color: $grey2
$tbody_bg: none
$tfoot_bg: none
$tfoot_color: $grey2
$tr_odd: $white
$tr_even: $greyE

$thead_link_normal: $blue
$thead_link_hover: $thead_color

$thead_border: $grey6
$table_border_std: $greyC

// forms.scss
// ----------------------------------------------------------------------------
$fieldset_border: $border_dot
$form_hr: $border_dot
$hint_color: $grey6
$label_color: $grey6
$collection_label_color: $grey2
$placeholder: $greyB

$input_color: $grey3
$input_bg: $white
$input_border: $greyA
$input_shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 0px rgba(255, 255, 255, 0.4)
$input_file_bg: $white

$input_focus_color: $black
$input_focus_bg: $greyE

// components/*.scss
// ----------------------------------------------------------------------------

// @see mixins/_buttons.scss
$btn_def_bg: $greyD
$btn_def_gradient: $white, $white 25%, $greyD
$btn_def_normal: $grey6
$btn_def_hover: $grey2
$btn_def_border: $grey9
$btn_def_border_bot: $greyA

$breadcrumb_color: $grey6
$breadcrumb_normal: $grey6
$breadcrumb_hover: $blue
$breadcrumb_active: $blue
$breadcrumb_visited: $grey6
$breadcrumb_focus: $blue

$paginate_bg: $white
$paginate_border: $greyC
$paginate_color: $grey6
$paginate_hover_bg: $blue
$paginate_hover_border: darken($blue, 10%)
$paginate_hover_color: $white
$paginate_disabled: $disabled_color

$tabs_bg: $greyE
$tabs_border: $greyC
$tabs_normal_color: lighten($grey6, 30%)
$tabs_hover_bg: $blue
$tabs_hover_border: darken($blue, 10%)
$tabs_hover_color: $white
$tabs_active_bg: $white
$tabs_active_border: $white
$tabs_active_color: $grey6

$pills_bg: $white
$pills_border: $greyC
$pills_normal_color: $grey6
$pills_hover_bg: $blue
$pills_hover_border: darken($blue, 10%)
$pills_hover_color: $white

$pills_active_bg: $blue
$pills_active_border: darken($blue, 10%)
$pills_active_color: $white

$tipsy_bg: $black
$tipsy_color: $white

$pop_bg: $white
$pop_color: $grey6
$pop_border: $grey6

// layouts/*.scss
// ----------------------------------------------------------------------------

